Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: startup summary — show loaded data counts in banner (Refs PMAT-099)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/server.rs
Due: build:docker, test:docker-compose, quality:book

docs: PMAT-100 quality gate — final book + spec refresh with accurate counts (Refs PMAT-100)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: wire entrenar LoRA into Banco training — presets, SSE metrics, export (Refs PMAT-101)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/eval_train_tests.rs
  src/serve/banco/handlers_train.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/training.rs
  src/serve/banco/training_engine.rs
  src/serve/banco/training_engine_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: wire alimentar CSV/JSONL parsing into Banco recipes + file info endpoint (Refs PMAT-102)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/handlers_data.rs
  src/serve/banco/recipes.rs
  src/serve/banco/recipes_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/storage_tests.rs
Due: build:docker, test:docker-compose, quality:book

docs: update banco spec — Phase 3b status with entrenar + alimentar (Refs PMAT-102)
  .pmat/baseline.json
  docs/specifications/components/banco-phase3.md
  docs/specifications/components/banco-spec.md
Due: none

feat: wire trueno-rag BM25 into Banco RAG with built-in fallback (Refs PMAT-103)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/rag.rs
Due: build:docker, test:docker-compose, quality:book

feat: add model merge endpoints — TIES/DARE/SLERP/weighted via entrenar (Refs PMAT-104)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-phase3.md
  src/serve/banco/handlers_merge.rs
  src/serve/banco/merge_tests.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

feat: wire pacha model registry — pull, list, cache endpoints (Refs PMAT-105)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-phase3.md
  docs/specifications/components/banco-spec.md
  src/serve/banco/handlers_registry.rs
  src/serve/banco/mod.rs
  src/serve/banco/registry_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

feat: add WebSocket real-time events — event bus + /api/v1/ws endpoint (Refs PMAT-106)
  .pmat/baseline.json
  Cargo.toml
  book/src/part3/banco.md
  src/serve/banco/events.rs
  src/serve/banco/events_tests.rs
  src/serve/banco/handlers_data.rs
  src/serve/banco/handlers_ws.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

feat: add tool calling framework + complete event emission (Refs PMAT-107)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/handlers_merge.rs
  src/serve/banco/handlers_models.rs
  src/serve/banco/handlers_rag.rs
  src/serve/banco/handlers_tools.rs
  src/serve/banco/handlers_train.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/tools.rs
  src/serve/banco/tools_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add embedded browser UI — chat SPA served from binary (Refs PMAT-108)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/handlers_ui.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/ui.rs
  src/serve/banco/ui_tests.rs
Due: build:docker, test:docker-compose, quality:book

docs: update banco spec — Phase 4 in progress with 73 endpoints, 303 tests (Refs PMAT-108)
  .pmat/baseline.json
  docs/specifications/components/banco-phase4.md
  docs/specifications/components/banco-spec.md
Due: none

feat: add file attachments in chat + self-healing tool retry (Refs PMAT-109)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/handlers.rs
  src/serve/banco/tools.rs
  src/serve/banco/tools_tests.rs
  src/serve/banco/types_chat.rs
Due: build:docker, test:docker-compose, quality:book

feat: wire whisper-apr speech transcription — /api/v1/audio/transcriptions (Refs PMAT-110)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/audio_tests.rs
  src/serve/banco/handlers_audio.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

docs: update banco spec — Phase 4 progress with 75 endpoints, 318 tests (Refs PMAT-110)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

feat: add MCP (Model Context Protocol) endpoint — JSON-RPC 2.0 server (Refs PMAT-111)
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  Cargo.lock
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-spec.md
  src/serve/banco/handlers_mcp.rs
  src/serve/banco/mcp.rs
  src/serve/banco/mcp_tests.rs
  src/serve/banco/mod.rs
  src/serve/banco/rag_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

feat: add experiment disk persistence — survives restarts via ~/.banco/experiments/ (Refs PMAT-111)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/experiment.rs
  src/serve/banco/experiment_tests.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

docs: update spec — Phase 4 with MCP, persistence, 332 tests, 77 endpoints (Refs PMAT-111)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

feat: add text completions, model detail, OpenAI audio compat + graceful shutdown (Refs PMAT-112)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/completions_tests.rs
  src/serve/banco/handlers_completions.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

docs: update spec — Phase 4 substantially complete, 341 tests, 81 endpoints (Refs PMAT-112)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

feat: add tokenize, quantize, matmul, and batch-orchestration provable contracts for CB-1202 compliance
  .pmat/baseline.json
  contracts/batch-orchestration-v1.yaml
  contracts/matmul-v1.yaml
  contracts/quantize-v1.yaml
  contracts/tokenize-v1.yaml
Due: none

feat: Ollama pull/delete + scoped API keys + k8s health probes (Refs PMAT-113)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/auth.rs
  src/serve/banco/compat_ollama.rs
  src/serve/banco/handlers.rs
  src/serve/banco/p0_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

feat: enhance browser UI — sidebar, model status, settings, file upload, RAG toggle (Refs PMAT-114)
  .pmat/baseline.json
  src/serve/banco/ui.rs
Due: build:docker, test:docker-compose

docs: mark Phase 4 complete — 348 tests, 85 endpoints, 4 protocols (Refs PMAT-114)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

fix: remap CB-1201 unfalsifiable contract tests to existing test functions
  .pmat/baseline.json
  contracts/banco/budget-conservation-v1.yaml
  contracts/banco/context-enforcement-v1.yaml
  contracts/banco/privacy-enforcement-v1.yaml
  contracts/banco/routing-determinism-v1.yaml
  contracts/banco/template-correctness-v1.yaml
  contracts/batch-orchestration-v1.yaml
  contracts/matmul-v1.yaml
  contracts/quantize-v1.yaml
  contracts/tokenize-v1.yaml
Due: none

feat: add Prometheus metrics + SSE streaming in browser UI (Refs PMAT-115)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/handlers_metrics.rs
  src/serve/banco/metrics.rs
  src/serve/banco/metrics_tests.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/ui.rs
Due: build:docker, test:docker-compose, quality:book

docs: update spec — 353 tests, 86 endpoints, Prometheus metrics (Refs PMAT-115)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

fix: decode BPE byte tokens to UTF-8 — fixes garbled inference output (Refs PMAT-115)
  .pmat/baseline.json
  src/serve/banco/inference.rs
  src/serve/banco/model_slot.rs
Due: build:docker, test:docker-compose

docs: rewrite banco-testing.md — full probar integration spec + fix BPE decode + UI (Refs PMAT-116)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
  docs/specifications/components/banco-testing.md
  src/serve/banco/mod.rs
  src/serve/banco/ui.rs
Due: build:docker, test:docker-compose

fix: correct falsified spec claims — 82 endpoints (not 86), 27 test modules (not 33) (Refs PMAT-116)
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  docs/specifications/components/banco-spec.md
  docs/specifications/components/banco-testing.md
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose

docs: enforce zero-JavaScript policy — Rust only via presentar + probar (Refs PMAT-116)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
  docs/specifications/components/banco-testing.md
  docs/specifications/components/banco-ux.md
Due: none

docs: UX falsification — the UI is a chat bubble, not an AI studio (Refs PMAT-116)
  .pmat/baseline.json
  docs/specifications/components/banco-ux-falsification.md
Due: none

docs: comprehensive falsification — APR dead path, simulated training, UI gap (Refs PMAT-116)
  .pmat/baseline.json
  docs/specifications/components/banco-falsification-report.md
  docs/specifications/components/banco-spec.md
Due: none

docs: add probar::llm falsification — complete LLM test framework exists, zero used (Refs PMAT-116)
  .pmat/baseline.json
  docs/specifications/components/banco-falsification-report.md
  docs/specifications/components/banco-testing.md
Due: none

feat: add 13 probar L2 integration tests — real TCP, LlmClient, SSE streaming (Refs PMAT-116)
  .pmat/baseline.json
  Cargo.toml
  tests/banco_llm.rs
Due: none

feat: wire APR model loading — our native format now works for inference (Refs PMAT-117)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
  src/serve/banco/model_slot.rs
  src/serve/banco/model_slot_tests.rs
Due: build:docker, test:docker-compose, quality:book

fix: update 10 stale integration test assertions to match current CLI behavior (Refs PMAT-106)
  .pmat/baseline.json
  tests/integration_test.rs
Due: none

feat: wire proper BPE tokenizer from aprender — correct merge rules replace greedy (Refs PMAT-118)
  .pmat/baseline.json
  src/serve/banco/compat_ollama.rs
  src/serve/banco/handlers_batch.rs
  src/serve/banco/handlers_inference.rs
  src/serve/banco/handlers_tokens.rs
  src/serve/banco/model_slot.rs
  src/serve/banco/model_slot_tests.rs
Due: build:docker, test:docker-compose

docs: update banco spec/falsification/book for P0 #1-#4 completion + apr-cli principle (Refs PMAT-118)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-falsification-report.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: expand probar L2 test suite from 13 to 22 tests (Refs PMAT-116)
  .pmat/baseline.json
  tests/banco_llm.rs
Due: none
