Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: add AgentPool for multi-agent orchestration (Refs SQI-013)
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/pool.rs
Due: build:docker, test:docker-compose

feat: add Demo 12 (sanitization) and Demo 13 (multi-agent pool) (Refs SQI-014)
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

docs: add pool, sanitization, tracing to agent runtime book (Refs SQI-015)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

feat: add McpClientTool with transport abstraction (Refs SQI-016)
  .pmat/baseline.json
  src/agent/tool/mcp_client.rs
  src/agent/tool/mod.rs
Due: build:docker, test:docker-compose

fix: replace .expect() with graceful error handling in production code (Refs SQI-017)
  .pmat/baseline.json
  src/agent/memory/in_memory.rs
  src/agent/runtime.rs
  src/agent/tool/browser.rs
Due: build:docker, test:docker-compose

feat: add contract invariants INV-008 through INV-011 (Refs SQI-018)
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
  src/agent/contracts.rs
Due: build:docker, test:docker-compose

feat: add Demo 14 (MCP client tool) to agent demo (Refs SQI-019)
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

feat: add `batuta agent pool` CLI subcommand for multi-agent fan-out (Refs SQI-020)
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

docs: add MCP client, pool CLI, INV-008..011 to agent runtime book (Refs SQI-021)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

feat: add MCP server handler registry with MemoryHandler (Refs SQI-022)
  .pmat/baseline.json
  src/agent/tool/mcp_server.rs
  src/agent/tool/mod.rs
Due: build:docker, test:docker-compose

feat: add Demo 15 (MCP server handler registry) (Refs SQI-023)
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

docs: add MCP server handler registry to agent runtime book (Refs SQI-024)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

test: add MCP server → agent memory roundtrip integration tests (Refs SQI-025)
  .pmat/baseline.json
  tests/agent_integration.rs
Due: none

feat: add agents-mcp, agents-contracts, agents-viz feature gates
  .pmat/baseline.json
  Cargo.toml
Due: none

feat: add McpServerConfig to AgentManifest (F-022)
  .pmat/baseline.json
  examples/agent_demo.rs
  src/agent/manifest.rs
Due: build:docker, test:docker-compose

feat: add #[contract] macro bindings to core agent functions
  .pmat/baseline.json
  src/agent/capability.rs
  src/agent/contracts.rs
  src/agent/guard.rs
  src/agent/runtime.rs
Due: build:docker, test:docker-compose

docs: add contract bindings, MCP manifest, feature gates to book
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

feat: add StdioMcpTransport for MCP client subprocess communication
  .pmat/baseline.json
  src/agent/tool/mcp_client.rs
Due: build:docker, test:docker-compose

feat: add runtime MCP privacy validation (Poka-Yoke)
  .pmat/baseline.json
  src/agent/runtime.rs
  tests/agent_integration.rs
Due: build:docker, test:docker-compose

feat: add RagHandler to MCP server HandlerRegistry
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  src/agent/tool/mcp_server.rs
Due: build:docker, test:docker-compose, quality:book
