Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

feat(oracle): add local workspace intelligence for multi-project development (Refs ORACLE-LOCAL)
  .pmat/project.toml
  docs/roadmaps/roadmap.yaml
  src/main.rs
  src/oracle/local_workspace.rs
  src/oracle/mod.rs
Due: build:docker, test:docker-compose

chore: bump version to 0.5.0 (Refs ORACLE-LOCAL)
  Cargo.lock
  Cargo.toml
Due: none

docs(book): Add local workspace discovery to oracle CLI reference (Refs ORACLE-LOCAL)
  book/src/part6/cli-oracle.md
  examples/oracle_local_demo.rs
Due: quality:book

docs(book): Document CPU thread optimization findings (Refs PMAT-004)
  book/src/part7/profiling.md
Due: quality:book

docs: Add Trueno vs PyTorch vs llama.cpp primitive comparison (Appendix G)
  .pmat-metrics/commit-0f8e667-meta.json
  .pmat-metrics/commit-387a985-meta.json
  .pmat/project.toml
  book/src/SUMMARY.md
  book/src/appendix/primitive-comparison.md
  docs/roadmaps/roadmap.yaml
Due: quality:book

docs: Update primitive comparison with SIMD-EXP and QUANT-Q5K results
  .pmat/project.toml
  book/src/appendix/primitive-comparison.md
  docs/roadmaps/roadmap.yaml
Due: quality:book

fix: update dependency versions to fix stack drift (Refs PMAT-UNWRAP)
  Cargo.lock
  Cargo.toml
Due: none

feat(stack): release batuta v0.6.0 with apr-qa and trueno 0.14 (Refs PMAT-UNWRAP)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  examples/oracle_local_demo.rs
  src/falsification/cross_platform.rs
  src/falsification/invariants.rs
  src/falsification/technical_debt.rs
  src/main.rs
  src/oracle/knowledge_graph.rs
  src/oracle/local_workspace.rs
  src/oracle/rag/falsification.rs
  src/stack/crates_io.rs
  src/stack/releaser.rs
Due: build:docker, test:docker-compose

docs(book): update for v0.6.0 release (Refs PMAT-UNWRAP)
  book/src/part3/support-tools.md
  book/src/part3/trueno.md
Due: quality:book

chore: pmat compliance updates for v2.214.0 (Refs PMAT-UNWRAP)
  .gitignore
  .pmat-gates.toml
  .pmat-metrics.toml
  .pmat/project.toml
  Cargo.toml
Due: none

refactor: Extract stack commands to cli/stack.rs module (Refs PMAT-FILE-HEALTH)
  Cargo.toml
  src/cli/mod.rs
  src/cli/stack.rs
  src/main.rs
Due: build:docker, test:docker-compose

refactor: Extract HF commands to cli/hf.rs, add oracle types (Refs PMAT-FILE-HEALTH)
  src/cli/hf.rs
  src/cli/mod.rs
  src/cli/oracle.rs
  src/main.rs
Due: build:docker, test:docker-compose

refactor: Extract deploy commands to cli/deploy.rs (Refs PMAT-FILE-HEALTH)
  src/cli/deploy.rs
  src/cli/mod.rs
  src/main.rs
Due: build:docker, test:docker-compose

refactor: Achieve A+ file health (95% compliance) by extracting CLI modules
  src/cli/content.rs
  src/cli/data.rs
  src/cli/experiment.rs
  src/cli/falsify.rs
  src/cli/mod.rs
  src/cli/oracle.rs
  src/cli/parf.rs
  src/cli/serve.rs
  src/cli/viz.rs
  src/cli/workflow.rs
  src/content/emitter.rs
  src/content/mod.rs
  src/experiment/mod.rs
  src/experiment/sovereign.rs
  src/main.rs
  src/pacha/crypto.rs
  src/pacha/mod.rs
Due: build:docker, test:docker-compose

chore: suppress unused import warning for sovereign re-exports (Refs PMAT-UNWRAP)
  src/experiment/mod.rs
Due: build:docker, test:docker-compose

chore: update gitignore and pmat compliance timestamp (Refs PMAT-UNWRAP)
  .gitignore
  .pmat/project.toml
Due: none

chore: ignore pmat local work tracking files (Refs PMAT-UNWRAP)
  .gitignore
  .pmat/project.toml
Due: none

feat(oracle): integrate hf-ground-truth-corpus as RAG source (Refs PMAT-UNWRAP)
  CLAUDE.md
  src/cli/oracle.rs
  src/oracle/rag/mod.rs
Due: build:docker, test:docker-compose

docs(oracle): add ground truth corpus documentation and examples (Refs PMAT-UNWRAP)
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/rag_oracle_demo.rs
Due: quality:book

docs: add batuta 1.0 stabilization roadmap (Refs PMAT-UNWRAP)
  docs/STABILIZATION-ROADMAP.md
Due: none

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
