Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: add NetworkTool for HTTP requests with host allowlisting (Refs SQI-052)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  src/agent/tool/mod.rs
  src/agent/tool/network.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: wire BrowserTool and NetworkTool into CLI tool registry (Refs SQI-053)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: wire RagTool into CLI build_tool_registry for Capability::Rag
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add InferenceTool for sub-model invocation via agent driver
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  src/agent/tool/inference.rs
  src/agent/tool/mod.rs
  src/cli/agent.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: wire McpClientTool into CLI via register_mcp_tools helper
  .pmat/baseline.json
  src/cli/agent.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose

feat: wire RemoteDriver and RoutingDriver into build_driver
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

fix: resolve clippy warnings in agent module (doc backticks, let-else, or-patterns)
  .pmat/baseline.json
  src/agent/capability.rs
  src/agent/manifest.rs
  src/agent/pool.rs
  src/agent/tool/inference.rs
  src/agent/tool/network.rs
  src/agent/tool/spawn.rs
Due: build:docker, test:docker-compose

feat: add INV-012/013/014 contract invariants for spawn depth, network allowlist, inference timeout
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
Due: none

feat: add provable_contracts_macros::contract annotations to tool execute methods
  .pmat/baseline.json
  src/agent/tool/inference.rs
  src/agent/tool/network.rs
  src/agent/tool/spawn.rs
Due: build:docker, test:docker-compose

fix: enforce sovereign privacy blocks network egress (INV-015, FALSIFY-AL-008)
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
  src/agent/runtime.rs
  src/agent/runtime_tests.rs
  tests/agent_integration.rs
Due: build:docker, test:docker-compose

feat: wire Ludwig ground truth corpus into RAG index
  .pmat/baseline.json
  CLAUDE.md
  src/cli/oracle/rag_index.rs
Due: build:docker, test:docker-compose

fix: update contract tests for INV-012..015 and fix YAML parse error
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
  src/agent/contracts.rs
Due: build:docker, test:docker-compose

docs: add INV-012..015 and FALSIFY-AL-008 to agent runtime book
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

fix: resolve CB-513 silent error swallowing in agent module (Toyota Way)
  .pmat/baseline.json
  src/agent/runtime.rs
  src/agent/tool/browser.rs
  src/agent/tool/mcp_client.rs
Due: build:docker, test:docker-compose

docs: update agent-runtime book chapter with 6 contract bindings
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

feat: add property tests for guard boundaries and pool capacity (BH-MUT-0002)
  .pmat/baseline.json
  src/agent/guard.rs
  src/agent/pool_tests.rs
Due: build:docker, test:docker-compose

feat: add property tests for capability matching (INV-003)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  src/agent/capability.rs
Due: build:docker, test:docker-compose, quality:book

refactor: extract execute_tool to reduce handle_tool_calls complexity
  .pmat/baseline.json
  src/agent/runtime.rs
Due: build:docker, test:docker-compose

fix: compact runtime.rs to 497 lines (QA-002 ≤500 limit)
  .pmat/baseline.json
Due: none

fix: extract base_defect_patterns to fix orphaned code in bug_hunter (Refs SQI-067)
  .pmat/baseline.json
  src/agent/capability.rs
  src/agent/guard.rs
  src/bug_hunter/mod.rs
Due: build:docker, test:docker-compose
