Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

docs: Add testing & quality ecosystem specification (pmat, oip, probar)
  book/src/SUMMARY.md
  book/src/appendix/comparison.md
  book/src/part3/oip.md
  book/src/part3/probar.md
  docs/specifications/testing-quality-ecosystem-spec.md
Due: quality:book

chore: bump to 0.4.6, use crates.io presentar-terminal (Refs BATUTA-046)
  Cargo.lock
  Cargo.toml
Due: none

chore: bump to 0.4.7, update presentar to 0.3 (Refs BATUTA-047)
  Cargo.lock
  Cargo.toml
Due: none

docs: update README versions for 0.4.7 release (Refs BATUTA-047)
  README.md
Due: none

docs(book): update component versions in introduction (Refs BATUTA-047)
  book/src/introduction.md
Due: quality:book

chore: bump to 0.4.8 for ecosystem refresh (Refs BATUTA-048)
  Cargo.lock
  Cargo.toml
Due: none

docs: update stack versions in book and README (Refs BATUTA-DOCS)
  README.md
  book/src/introduction.md
Due: quality:book

feat(cookbook): add 13 new recipes for stack components (Refs COOKBOOK-001)
  src/oracle/cookbook.rs
Due: build:docker, test:docker-compose

feat(cookbook): add 9 RLHF alignment recipes for training course
  src/oracle/cookbook.rs
Due: build:docker, test:docker-compose

feat(releaser): add pmat comply check for ComputeBrick defect detection
  src/stack/releaser.rs
Due: build:docker, test:docker-compose

fix(quantization): add SAFETY comments and target_feature for CB compliance
  .pmat/project.toml
  src/oracle/rag/quantization.rs
Due: build:docker, test:docker-compose

feat(stack): integrate PMAT quality gates into release pipeline
  docs/roadmaps/roadmap.yaml
  src/stack/releaser.rs
Due: build:docker, test:docker-compose

feat(dep-reduce): remove regex-lite and colored dependencies (Refs DEP-REDUCE)
  .pmat-metrics/commit-1bf0819-meta.json
  Cargo.lock
  Cargo.toml
  docs/roadmaps/roadmap.yaml
  src/ansi_colors.rs
  src/experiment/mod.rs
  src/lib.rs
  src/main.rs
  src/pacha/mod.rs
  src/stack/quality.rs
Due: build:docker, test:docker-compose

feat(dep-reduce): replace petgraph with trueno-graph for dependency analysis
  Cargo.lock
  Cargo.toml
  src/stack/graph.rs
Due: build:docker, test:docker-compose

chore: update presentar to 0.3.1 (Refs STACK-AUDIT)
  .pmat-metrics/commit-5a3798f-meta.json
  Cargo.lock
  docs/roadmaps/roadmap.yaml
Due: none

chore: bump version to 0.4.9 (Refs STACK-AUDIT)
  Cargo.lock
  Cargo.toml
Due: none

chore: update pmat project after examples build (Refs STACK-AUDIT)
  .pmat/project.toml
Due: none

feat(stack): Add book and examples verification to release preflight (Refs STACK-AUDIT)
  .pmat/project.toml
  src/stack/releaser.rs
Due: build:docker, test:docker-compose

feat(deps): add sovereign stack packages
  Cargo.lock
  Cargo.toml
Due: none

feat(deps): add bashrs 6.54 to sovereign stack transpilers (Refs STACK-AUDIT)
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
