Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

test(comply/makefile): add 6 tests for makefile rule coverage (Refs PMAT-UNWRAP)
  src/comply/rules/makefile.rs
Due: build:docker, test:docker-compose

test(content/validation): add 22 tests for content validation coverage (Refs PMAT-UNWRAP)
  src/content/validation.rs
Due: build:docker, test:docker-compose

test(content/budget): add 20 tests for token budget coverage (Refs PMAT-UNWRAP)
  src/content/budget.rs
Due: build:docker, test:docker-compose

feat(oracle): add --pmat-query for function-level quality-annotated code search (Refs PMAT-UNWRAP)
  CLAUDE.md
  book/src/part6/cli-oracle.md
  docs/specifications/pmat-query-batuta-oracle-integration.md
  examples/pmat_query_demo.rs
  src/cli/oracle/mod.rs
  src/cli/oracle/pmat_query.rs
  src/cli/oracle/rag.rs
  src/main.rs
Due: build:docker, test:docker-compose, quality:book

feat(oracle/pmat-query): add v2.0 enhancements — RRF fusion, cross-project search, caching, quality summary, backlinks
  book/src/part6/cli-oracle.md
  docs/specifications/pmat-query-batuta-oracle-integration.md
  examples/pmat_query_demo.rs
  src/cli/oracle/pmat_query.rs
  src/main.rs
Due: build:docker, test:docker-compose, quality:book

docs(book): add pmat_query_demo to example listings and running instructions
  book/src/introduction.md
  book/src/part3/oracle-mode.md
  book/src/part4/example-overview.md
  book/src/part6/cli-oracle.md
Due: quality:book

fix: bug-hunter clippy fixes, FusedResult boxing, CLAUDE.md pmat query integration (Refs CB-130)
  .gitignore
  .pmat-gates.toml
  .pmat-metrics.toml
  .pmat/bug-hunter.toml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  book/src/introduction.md
  book/src/part4/example-overview.md
  book/src/part6/cli-bug-hunter.md
  book/src/part6/cli-oracle.md
  docs/specifications/bug-hunter-pmat-quality-integration.md
  examples/bug_hunter_demo.rs
  examples/oracle_demo.rs
  src/backend.rs
  src/bug_hunter/blame.rs
  src/bug_hunter/cache.rs
  src/bug_hunter/config.rs
  src/bug_hunter/coverage.rs
  src/bug_hunter/diff.rs
  src/bug_hunter/languages.rs
  src/bug_hunter/localization.rs
  src/bug_hunter/mod.rs
  src/bug_hunter/patterns.rs
  src/bug_hunter/pmat_quality.rs
  src/bug_hunter/types.rs
  src/cli/bug_hunter.rs
  src/cli/mod.rs
  src/cli/oracle/cookbook.rs
  src/cli/oracle/pmat_query.rs
  src/cli/oracle/rag.rs
  src/cli/oracle/rag_index.rs
  src/cli/oracle_classic.rs
  src/cli/pipeline_cmds.rs
  src/cli/syntax.rs
  src/cli/workflow.rs
  src/lib.rs
  src/stack/diagnostics/tests/engine_tests.rs
  src/stack/publish_status/tests_extended.rs
Due: build:docker, test:docker-compose, quality:book

fix: suppress 33 compiler warnings across 10 modules
  src/bug_hunter/localization.rs
  src/bug_hunter/mod.rs
  src/bug_hunter/pmat_quality.rs
  src/cli/mod.rs
  src/cli/oracle/mod.rs
  src/content/mod.rs
  src/experiment/mod.rs
  src/hf/catalog/mod.rs
  src/oracle/rag/quantization/mod.rs
  src/pipeline/mod.rs
Due: build:docker, test:docker-compose

docs: add pmat query --git-history/-G to CLAUDE.md code search section
  CLAUDE.md
Due: none

docs: add --churn --duplicates --entropy enrichment flags to CLAUDE.md
  CLAUDE.md
Due: none

docs(book+example): add git history, hotspots, churn, coupling to pmat_query_demo (Refs PMAT-QUERY)
  .pmat/metrics/dependencies.json
  book/src/part3/oracle-mode.md
  book/src/part4/example-overview.md
  book/src/part6/cli-oracle.md
  examples/pmat_query_demo.rs
Due: quality:book

chore: add bug-hunter cache, baseline, and trend artifacts (Refs PMAT-QUERY)
  .pmat/baseline.json
  .pmat/bug-hunter-baseline.json
  .pmat/bug-hunter-cache/119c184dc97191d3.json
  .pmat/bug-hunter-cache/9703cf02a573ed6a.json
  .pmat/bug-hunter-cache/b4312073578f6f7e.json
  .pmat/bug-hunter-cache/c45433c536601571.json
  .pmat/bug-hunter-cache/cad26347b345dab9.json
  .pmat/bug-hunter-cache/d5ff5eadb03d9948.json
  .pmat/bug-hunter-cache/e25da52c902f7dd5.json
  .pmat/bug-hunter-trend.json
  .pmat/metrics/dependencies.json
Due: none

fix(deps): slim native feature to reduce default prod deps from 470 to 250 (Refs CB-081)
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  Cargo.toml
  src/cli/oracle/cookbook.rs
  src/cli/oracle/rag.rs
  src/cli/oracle_classic.rs
  src/cli/stack.rs
  src/cli/syntax.rs
  src/oracle/rag/tui.rs
  src/stack/graph.rs
  src/stack/tui.rs
Due: build:docker, test:docker-compose

refactor(cli): extract pmat_display_combined arms into helper functions (Refs CB-081)
  .pmat/baseline.json
  src/cli/oracle/pmat_query.rs
Due: build:docker, test:docker-compose

feat(oracle): SQLite+FTS5 backend for RAG index (Refs batuta#24)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
  docs/specifications/sqlite-rag-integration.md
  src/cli/oracle/rag.rs
  src/cli/oracle/rag_index.rs
  src/cli/oracle_indexing.rs
Due: build:docker, test:docker-compose

docs(spec): add falsification results + fix incremental reindex (Refs batuta#24)
  .pmat/baseline.json
  docs/specifications/sqlite-rag-integration.md
  src/cli/oracle/rag_index.rs
Due: build:docker, test:docker-compose

perf(oracle): add mtime pre-filter for incremental RAG reindex (Refs batuta#24)
  .pmat/baseline.json
  src/cli/oracle/rag_index.rs
  src/cli/oracle_indexing.rs
Due: build:docker, test:docker-compose

perf(oracle): separate fingerprints.json for O(1) incremental check (Refs batuta#24)
  .pmat/baseline.json
  src/cli/oracle/rag_index.rs
  src/oracle/rag/persistence.rs
Due: build:docker, test:docker-compose

docs(spec): add Section 12 deep instrumentation & profiling (Refs batuta#24)
  .pmat/baseline.json
  docs/specifications/oracle-mode-spec.md
Due: none

docs(spec): add F-PERF falsification results — 6/6 pass (Refs batuta#24)
  .pmat/baseline.json
  docs/specifications/oracle-mode-spec.md
Due: none

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
