Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

refactor(stack): extract hero_image module from quality.rs (Refs PMAT-UNWRAP)
  src/stack/hero_image.rs
  src/stack/mod.rs
  src/stack/quality.rs
Due: build:docker, test:docker-compose

refactor(stack): extract quality_checker.rs and quality_format.rs from quality.rs
  src/stack/mod.rs
  src/stack/quality.rs
  src/stack/quality_checker.rs
  src/stack/quality_format.rs
Due: build:docker, test:docker-compose

refactor(tui): extract graph_layout.rs and graph_analytics.rs from graph.rs
  src/tui/graph.rs
  src/tui/graph_analytics.rs
  src/tui/graph_layout.rs
  src/tui/mod.rs
Due: build:docker, test:docker-compose

refactor(stack): extract diagnostics_ml.rs from diagnostics.rs (Refs PMAT-UNWRAP)
  src/stack/diagnostics.rs
  src/stack/diagnostics_ml.rs
  src/stack/mod.rs
Due: build:docker, test:docker-compose

refactor(pipeline): extract pipeline_analysis.rs from pipeline.rs (Refs PMAT-UNWRAP)
  src/lib.rs
  src/pipeline.rs
  src/pipeline_analysis.rs
Due: build:docker, test:docker-compose

refactor(stack): extract releaser types and preflight checks to modules
  .pmat/project.toml
  src/main.rs
  src/stack/mod.rs
  src/stack/releaser.rs
  src/stack/releaser_preflight.rs
  src/stack/releaser_types.rs
Due: build:docker, test:docker-compose

fix(safety): replace critical unwrap() calls with proper error handling
  .pmat/project.toml
  src/cli/stack.rs
  src/experiment/tree.rs
  src/recipes.rs
  src/stack/diagnostics.rs
  src/tui/graph_analytics.rs
Due: build:docker, test:docker-compose

fix: integration tests with drift check bypass for pre-release testing (Refs PMAT-UNWRAP)
  .pmat/project.toml
  docs/roadmaps/roadmap.yaml
  src/cli/oracle.rs
  tests/integration_test.rs
Due: build:docker, test:docker-compose

docs(book): add example overview and update stack versions (Refs DOCS-BOOK)
  book/src/introduction.md
  book/src/part4/example-overview.md
Due: quality:book

chore(release): v0.6.0 - update stack dependencies (Refs PMAT-RELEASE)
  Cargo.lock
  Cargo.toml
Due: none

chore(release): v0.6.1 - update to aprender 0.25.1 with corruption fix (Refs PMAT-205)
  Cargo.lock
  Cargo.toml
Due: none

chore(release): v0.6.2 - fix bashrs dependency to 6.59 (Refs PMAT-RELEASE)
  Cargo.lock
  Cargo.toml
Due: none

feat(rag): implement RAG index persistence with BLAKE3 checksums
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/rag_oracle_demo.rs
  src/cli/oracle.rs
  src/main.rs
  src/oracle/rag/fingerprint.rs
  src/oracle/rag/mod.rs
  src/oracle/rag/persistence.rs
  src/oracle/rag/retriever.rs
  src/oracle/rag/types.rs
Due: build:docker, test:docker-compose, quality:book

feat(oracle): add batuta-ground-truth-mlops-corpus to RAG index
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add apr-model-qa-playbook to RAG corpus for QA knowledge (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add jax-ground-truth-corpus to RAG index, fix macOS build
  Cargo.toml
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add smart drift tolerance and TGI corpus indexing
  src/cli/oracle.rs
  src/main.rs
  src/stack/drift.rs
Due: build:docker, test:docker-compose

docs(oracle): update specifications with JAX corpus and drift behavior
  .pmat/project.toml
  CLAUDE.md
  docs/specifications/oracle-mode-spec.md
Due: none

feat(oracle): add vLLM ground truth corpus to RAG indexer
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add depyler, bashrs, renacer to RAG index (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
