Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

refactor: split manifest_tests (597→309+291) and remote_tests (517→310+243) for QA-002
  .pmat/baseline.json
  src/agent/driver/remote.rs
  src/agent/driver/remote_tests.rs
  src/agent/driver/remote_tests_body.rs
  src/agent/manifest.rs
  src/agent/manifest_tests.rs
  src/agent/manifest_tests_validation.rs
Due: build:docker, test:docker-compose

refactor: extract repeated patterns to reduce entropy violations (Kaizen)
  .pmat/baseline.json
  src/bug_hunter/contracts.rs
  src/cli/bug_hunter_output.rs
  src/cli/hf.rs
  src/falsification/jidoka.rs
  src/oracle/svg/lint.rs
Due: build:docker, test:docker-compose

docs: update agent book pages with quality gate results and contract status
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  book/src/part6/cli-agent.md
Due: quality:book

refactor: split runtime_tests_advanced (638→383+331) for QA-002 compliance
  .pmat/baseline.json
  src/agent/runtime.rs
  src/agent/runtime_tests_advanced.rs
  src/agent/runtime_tests_guards.rs
Due: build:docker, test:docker-compose

docs: add agent integration sections to probar/presentar/pmcp/pforge book pages
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  book/src/part3/pforge.md
  book/src/part3/pmcp.md
  book/src/part3/presentar.md
  book/src/part3/probar.md
Due: quality:book

fix: trim runtime.rs from 503→500 lines for QA-002 compliance
  .pmat/baseline.json
  src/agent/runtime.rs
Due: build:docker, test:docker-compose

refactor: split agent_runtime_cmds (515→325+202) for QA-002 compliance
  .pmat/baseline.json
  src/cli/agent.rs
  src/cli/agent_pool_cmds.rs
  src/cli/agent_runtime_cmds.rs
Due: build:docker, test:docker-compose

release: bump to 0.7.0 with agent runtime, updated CHANGELOG and description
  .pmat/baseline.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: update pmat baseline for 0.7.0
  .pmat/baseline.json
Due: none

fix: 5 first-run UX dealbreakers for OpenClaw readiness
  Dockerfile
  README.md
  src/analyzer.rs
  src/main.rs
  src/main_cli.rs
  src/main_drift.rs
Due: build:docker, test:docker-compose

release: bump to 0.7.1 with first-run UX fixes
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

docs: update book for 0.7.1 — fix stale versions, drift behavior, add agents
  .pmat/baseline.json
  book/src/introduction.md
  book/src/part1/andon.md
  book/src/part1/heijunka.md
  book/src/part1/kanban.md
  book/src/part6/cli-analyze.md
  book/src/part6/cli-overview.md
  book/src/part6/cli-playbook.md
  book/src/part6/cli-stack.md
Due: quality:book

deps: update all stack deps to latest (eliminate drift warnings)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

fix: drift check only reports batuta's own stale deps, not full ecosystem
  .pmat/baseline.json
  book/src/part6/cli-stack.md
  src/cli/stack_drift.rs
  src/main_drift.rs
  src/stack/drift.rs
Due: build:docker, test:docker-compose, quality:book

docs: update book, examples, changelog for 0.7.2 release
  .pmat/baseline.json
  CHANGELOG.md
  Dockerfile
  book/src/part1/heijunka.md
  book/src/part4/example-overview.md
  book/src/part6/cli-playbook.md
  book/src/part9/tool-detection.md
  examples/agent_signing.rs
Due: build:docker, test:docker-compose, quality:book

fix: reduce false positives in falsify for non-Rust projects (Refs ALB-029)
  src/falsification/helpers.rs
  src/falsification/invariants.rs
Due: build:docker, test:docker-compose

fix: stack status works without Cargo.toml via binary detection (Refs ALB-030)
  .pmat/baseline.json
  src/stack/graph.rs
  src/stack/graph_tests.rs
Due: build:docker, test:docker-compose

docs: update book, examples, changelog for 0.7.3 release (Refs ALB-031)
  .pmat/baseline.json
  CHANGELOG.md
  Cargo.toml
  README.md
  book/src/appendix/benchmarks.md
Due: quality:book

fix: replace unsafe env var manipulation with coverage_path config in test
  src/bug_hunter/tests_modes.rs
Due: build:docker, test:docker-compose

fix: guard tests against missing git in clean-room
  src/bug_hunter/diff.rs
  src/bug_hunter/tests_modes.rs
  src/bug_hunter/tests_patterns.rs
  src/oracle/local_workspace_tests.rs
  src/stack/checker_tests.rs
Due: build:docker, test:docker-compose

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
