Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

fix(qa): Pass QA checklist Section IV-V with 85.3% score (Refs QA-SEC4, QA-SEC5)
  Cargo.lock
  Cargo.toml
  docs/qa-results-2025-12-06.md
  src/backend.rs
  src/cli.rs
  src/content/mod.rs
  src/data/tree.rs
  src/experiment/mod.rs
  src/hf/client.rs
  src/hf/tree.rs
  src/numpy_converter.rs
  src/oracle/knowledge_graph.rs
  src/oracle/query_engine.rs
  src/oracle/recommender.rs
  src/oracle/types.rs
  src/parf.rs
  src/pipeline.rs
  src/pytorch_converter.rs
  src/sklearn_converter.rs
  src/stack/checker.rs
  src/stack/crates_io.rs
  src/stack/graph.rs
  src/stack/releaser.rs
  src/stack/tree.rs
  src/stack/types.rs
  src/tools.rs
  src/viz/dashboard.rs
  src/viz/tree.rs
Due: build:docker, test:docker-compose

feat(perf): Implement persistent crates.io caching for stack check (Refs QA-PERF)
  Cargo.lock
  Cargo.toml
  docs/qa-results-2025-12-06.md
  docs/roadmaps/roadmap.yaml
  src/main.rs
  src/stack/crates_io.rs
Due: build:docker, test:docker-compose

feat(tui): Implement interactive TUI dashboard for stack visualization (Refs QA-TUI)
  Cargo.lock
  Cargo.toml
  docs/qa-results-2025-12-06.md
  docs/roadmaps/roadmap.yaml
  src/main.rs
  src/stack/crates_io.rs
  src/stack/mod.rs
  src/stack/tui.rs
Due: build:docker, test:docker-compose

feat(qa): Add qa-local target for Batuta QA Checklist (Refs QA-TUI)
  Makefile
Due: none

docs(qa): Update checklist with all findings and Chief Engineer guidance (Refs QA-TUI)
  docs/qa-results-2025-12-06.md
Due: none

fix(quality): Replace production unwrap() with expect() for better error messages (Refs PMAT-UNWRAP)
  docs/roadmaps/roadmap.yaml
  docs/specifications/batuta-stack-0.1-100-point-qa-checklist.md
  src/experiment/mod.rs
  src/main.rs
  src/serve/circuit_breaker.rs
Due: build:docker, test:docker-compose

feat(quality): Add workspace lints and cargo-deny config (Refs PMAT-LINTS, PMAT-DENY)
  .clippy.toml
  Cargo.toml
  deny.toml
Due: none

docs(roadmap): Mark PMAT work items as completed (Refs PMAT-*)
  docs/roadmaps/roadmap.yaml
Due: none

feat(quality): QA checklist items 46-49 complete (Refs PMAT-CLIPPY, PMAT-FMT, PMAT-AUDIT, PMAT-OUTDATED)
  Cargo.toml
  docs/roadmaps/roadmap.yaml
  src/experiment/mod.rs
  src/main.rs
  src/oracle/query_engine.rs
  src/plugin.rs
  src/serve/circuit_breaker.rs
Due: build:docker, test:docker-compose

feat(quality): QA checklist items 42, 45, 50 complete (Refs PMAT-TDG, PMAT-SATD, PMAT-ARCH)
  docs/roadmaps/roadmap.yaml
  src/main.rs
  src/stack/checker.rs
Due: build:docker, test:docker-compose

fix(tests): Update test code for Language reference parameters (Refs PMAT-COVERAGE)
  src/plugin.rs
Due: build:docker, test:docker-compose

fix(examples): Update custom_plugin example for Language reference (Refs PMAT-COVERAGE)
  docs/roadmaps/roadmap.yaml
  examples/custom_plugin.rs
Due: none

feat(qa): Complete PMAT QA items [43] and [51] (Refs PMAT-COVERAGE, PMAT-TRACES)
  docs/roadmaps/roadmap.yaml
  golden_traces/backend_selection_summary.txt
  golden_traces/full_transpilation_summary.txt
  golden_traces/oracle_demo_summary.txt
  golden_traces/pipeline_demo_summary.txt
Due: none

chore(stack): Update pforge to 0.1.3 and renacer to 0.7.0 in knowledge graph (Refs PMAT-MUTANTS)
  examples/custom_plugin.rs
  src/oracle/knowledge_graph.rs
Due: build:docker, test:docker-compose

feat(qa): Complete PMAT-MUTANTS [44] - mutation testing active (Refs PMAT-MUTANTS)
  docs/roadmaps/roadmap.yaml
Due: none

chore: Bump to v0.1.4 with pforge 0.1.4 stack update (Refs STACK-UPDATE)
  CHANGELOG.md
  Cargo.toml
  book/src/introduction.md
  book/src/part3/mcp-tooling.md
  book/src/part3/pforge.md
  examples/mcp_demo.rs
  src/experiment/mod.rs
  src/oracle/knowledge_graph.rs
Due: build:docker, test:docker-compose, quality:book

docs: Fix broken link in presentar.md (Refs DOCS-FIX)
  Cargo.lock
  book/src/part3/presentar.md
Due: quality:book

docs: Add link to Sovereign AI Stack Book
  README.md
Due: none

fix(stack): Exclude dev-dependencies from cycle detection (Refs #13)
  examples/custom_plugin.rs
  src/stack/graph.rs
  src/stack/mod.rs
Due: build:docker, test:docker-compose

docs(spec): Add Stack Quality Matrix specification (Refs #10)
  docs/specifications/stack-quality-matrix-spec.md
Due: none

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
