Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

Add pepita book documentation and kernel demo example (Refs STACK-DOCS)
  book/src/SUMMARY.md
  book/src/part3/pepita.md
  examples/pepita_kernel_demo.rs
Due: quality:book

Bump to 0.4.4 with pepita docs and example (Refs STACK-DOCS)
  Cargo.lock
  Cargo.toml
Due: none

feat: Add manzana Apple hardware integration to sovereign stack
  Cargo.toml
  README.md
  docs/specifications/manzana-apple-hardware-spec.md
Due: none

feat(rag): Add scalar int8 rescoring retriever with falsification tests (Refs STACK-DOCS)
  Cargo.lock
  book/src/part3/oracle-mode.md
  docs/specifications/retriever-spec.md
  examples/int8_rescore_demo.rs
  src/oracle/rag/falsification.rs
  src/oracle/rag/mod.rs
  src/oracle/rag/quantization.rs
  src/stack/tree.rs
Due: build:docker, test:docker-compose, quality:book

feat(stack): Add automatic drift detection blocking all commands (Refs STACK-DRIFT)
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/stack/crates_io.rs
  src/stack/drift.rs
  src/stack/mod.rs
Due: build:docker, test:docker-compose

feat(stack): Add drift --fix command and update PAIML crate tracking (Refs STACK-DRIFT)
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/stack/mod.rs
Due: build:docker, test:docker-compose

feat(stack): Add pzsh to PAIML crate tracking (Refs STACK-DRIFT)
  src/stack/mod.rs
Due: build:docker, test:docker-compose

docs: Update README with drift detection and latest stack versions (Refs STACK-DOCS)
  README.md
Due: none

docs(book): Add batuta stack drift command documentation (Refs STACK-DOCS)
  book/src/part6/cli-stack.md
Due: quality:book

chore: bump to 0.4.5 with updated stack dependencies (Refs STACK-RELEASE)
  Cargo.lock
  Cargo.toml
  README.md
Due: none

docs: Update README with latest stack versions (Refs STACK-DOCS)
  README.md
Due: none

docs: Update CLAUDE.md with latest stack versions (Refs STACK-DOCS)
  CLAUDE.md
  Cargo.lock
Due: none

docs: Update trueno-zram to trueno-zram-core in CLAUDE.md (Refs STACK-DOCS)
  CLAUDE.md
Due: none

refactor(tui): migrate from ratatui to presentar-terminal
  Cargo.lock
  Cargo.toml
  src/oracle/rag/tui.rs
  src/stack/mod.rs
  src/stack/tui.rs
Due: build:docker, test:docker-compose

docs(book): add presentar-terminal TUI backend section
  book/src/part3/presentar.md
Due: quality:book

feat: Add cookbook, simular, probar to oracle ecosystem
  src/oracle/cookbook.rs
  src/oracle/knowledge_graph.rs
  src/oracle/mod.rs
  src/oracle/types.rs
Due: build:docker, test:docker-compose

feat(oracle): wire cookbook recipes into CLI (Refs COOKBOOK-CLI)
  src/main.rs
Due: build:docker, test:docker-compose

docs: Add HuggingFace query specification (Refs HF-QUERY)
  docs/specifications/hugging-face-crud-spec.md
Due: none

feat(hf): Implement HuggingFace ecosystem catalog with TDD
  docs/specifications/hugging-face-crud-spec.md
  src/hf/catalog.rs
  src/hf/hub_client.rs
  src/hf/mod.rs
  src/hf/tree.rs
  src/lib.rs
  src/main.rs
Due: build:docker, test:docker-compose

feat(hf): Add observability tracing and catalog example
  Cargo.lock
  Cargo.toml
  book/src/part6/cli-hf.md
  docs/specifications/hugging-face-crud-spec.md
  examples/hf_catalog_demo.rs
  src/hf/catalog.rs
  src/hf/hub_client.rs
Due: build:docker, test:docker-compose, quality:book
