Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

feat(stack): Add publish-status command with O(1) caching (Refs PUBLISH-STATUS)
  .claude/commands/quality.md
  .claude/commands/stack-check.md
  .claude/commands/stack-versions.md
  .claude/commands/update-deps.md
  CLAUDE.md
  Makefile
  book/src/part6/cli-stack.md
  examples/publish_status_demo.rs
  src/main.rs
  src/stack/mod.rs
  src/stack/publish_status.rs
Due: build:docker, test:docker-compose, quality:book

docs: Add Graph TUI visualization specification (Refs GRAPH-TUI-SPEC)
  docs/batuta-graph-viz-tui-spec.md
Due: none

docs: add peer review annotations to graph viz TUI spec (Refs QA-TUI)
  docs/batuta-graph-viz-tui-spec.md
Due: none

feat(tui): Implement Graph TUI visualization with EXTREME TDD (Refs GRAPH-TUI-IMPL)
  examples/graph_tui_demo.rs
  src/lib.rs
  src/tui/graph.rs
  src/tui/mod.rs
Due: build:docker, test:docker-compose

feat(tui): Add PageRank and Louvain community detection (Refs QA-TUI)
  src/tui/graph.rs
  src/tui/mod.rs
Due: build:docker, test:docker-compose

feat(tui): Add Neo4j/Cytoscape visualization patterns for 80% coverage (Refs QA-TUI)
  src/tui/graph.rs
Due: build:docker, test:docker-compose

feat(examples): Add PAIML Stack Graph TUI visualization (Refs QA-TUI)
  examples/stack_graph_tui.rs
Due: none

chore: Bump version to 0.1.6 for release (Refs QA-TUI)
  Cargo.lock
  Cargo.toml
Due: none

feat(stack): Add profesor and jugar to stack visualization
  docs/specifications/stack-tree-view.md
  examples/stack_graph_tui.rs
Due: none

feat(inference): Add realizar integration for GGUF/safetensors serving (Refs INTEG-003)
  Cargo.lock
  Cargo.toml
Due: none

feat: Add pipeline audit trail for distributed provenance (Refs batuta-81)
  src/audit.rs
  src/lib.rs
Due: build:docker, test:docker-compose

feat(oracle): Add APR-powered RAG oracle with Toyota Way principles (Refs RAG-001)
  .gitignore
  CLAUDE.md
  Makefile
  README.md
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  docs/reviews/APR-POWERED-RAG-ORACLE-REVIEW.md
  docs/specifications/apr-powered-rag-oracle.md
  examples/rag_oracle_demo.rs
  src/analyzer.rs
  src/content/mod.rs
  src/main.rs
  src/oracle/mod.rs
  src/oracle/rag/chunker.rs
  src/oracle/rag/fingerprint.rs
  src/oracle/rag/indexer.rs
  src/oracle/rag/mod.rs
  src/oracle/rag/retriever.rs
  src/oracle/rag/tui.rs
  src/oracle/rag/types.rs
  src/oracle/rag/validator.rs
  src/pipeline.rs
  src/stack/diagnostics.rs
  src/stack/graph.rs
  src/stack/publish_status.rs
  src/stack/quality.rs
  src/tui/graph.rs
Due: build:docker, test:docker-compose, quality:book

ci: Consolidate to single CI workflow (Refs CI-001)
  .github/workflows/benchmarks.yml
  .github/workflows/book.yml
  .github/workflows/certeza.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/wasm.yml
Due: none

feat(falsification): Implement 108-item Popperian Falsification Checklist (Refs FALS-001)
  benches/backend_selection.rs
  benches/converter_performance.rs
  book/src/SUMMARY.md
  book/src/part6/cli-falsify.md
  docs/specifications/apr-powered-rag-oracle.md
  docs/specifications/popperian-falsification-checklist.md
  examples/oracle_demo.rs
  examples/stack_dogfood.rs
  src/falsification/auditors.rs
  src/falsification/cross_platform.rs
  src/falsification/hypothesis_driven.rs
  src/falsification/invariants.rs
  src/falsification/jidoka.rs
  src/falsification/mod.rs
  src/falsification/model_cards.rs
  src/falsification/numerical_reproducibility.rs
  src/falsification/performance_waste.rs
  src/falsification/safety.rs
  src/falsification/sovereign_data.rs
  src/falsification/technical_debt.rs
  src/falsification/types.rs
  src/lib.rs
  src/main.rs
Due: build:docker, test:docker-compose, quality:book

fix(analyzer): Add fallback TDG calculation when PMAT unavailable (Refs FALS-001)
  src/analyzer.rs
Due: build:docker, test:docker-compose

chore: Release v0.1.8 with trueno 0.8.4
  Cargo.lock
  Cargo.toml
Due: none

chore: Release v0.1.9 - Update trueno to 0.8.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: Update trueno chapter with v0.8.5 simulation framework
  book/src/part3/trueno.md
  book/src/part6/cli-oracle.md
Due: quality:book

feat: Release v0.2.0 with updated PAIML stack
  Cargo.lock
  Cargo.toml
  src/experiment/mod.rs
Due: build:docker, test:docker-compose

docs: Update book to latest PAIML stack versions
  book/src/introduction.md
  book/src/part3/trueno.md
  book/src/part6/cli-oracle.md
  book/src/part6/cli-stack.md
Due: quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
