Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: expose tokenizer mode (bpe/greedy) in model status endpoint (Refs PMAT-118)
  .pmat/baseline.json
  src/serve/banco/handlers_models.rs
  src/serve/banco/types.rs
  tests/banco_llm.rs
Due: build:docker, test:docker-compose

style: cargo fmt formatting for model_slot.rs (Refs PMAT-118)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
  src/serve/banco/model_slot.rs
Due: build:docker, test:docker-compose

feat: banco feature now includes aprender — BPE tokenizer available by default (Refs PMAT-119)
  .pmat/baseline.json
  Cargo.toml
  src/serve/banco/handlers_models.rs
  src/serve/banco/model_slot.rs
  src/serve/banco/model_slot_tests.rs
Due: build:docker, test:docker-compose

feat: wire eval + embeddings to use BPE tokenizer via ModelSlot::encode_text (Refs PMAT-119)
  .pmat/baseline.json
  src/serve/banco/eval.rs
  src/serve/banco/handlers_eval.rs
  src/serve/banco/handlers_tokens.rs
  src/serve/banco/inference.rs
Due: build:docker, test:docker-compose

feat: show tokenizer mode in server banner and /api/v1/system endpoint (Refs PMAT-119)
  .pmat/baseline.json
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
  src/serve/banco/types_tests.rs
Due: build:docker, test:docker-compose

style: cargo fmt (Refs PMAT-119)
  .pmat/baseline.json
  src/serve/banco/inference.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose

docs: update book — banco feature includes aprender, tokenizer status endpoints (Refs PMAT-119)
  .pmat/baseline.json
  book/src/part3/banco.md
Due: quality:book

refactor: split L2 tests into banco_llm.rs (5 chat) + banco_endpoints.rs (20 HTTP) (Refs PMAT-119)
  .pmat/baseline.json
  tests/banco_endpoints.rs
  tests/banco_llm.rs
Due: none

docs: update falsification report — 25 L2 tests, BPE default in banco (Refs PMAT-119)
  .pmat/baseline.json
  docs/specifications/components/banco-falsification-report.md
Due: none

feat: add 11 workflow L2 tests — training, merge, eval, experiments, RAG (Refs PMAT-120)
  .pmat/baseline.json
  tests/banco_workflows.rs
Due: none

docs: update book — testing section, phase roadmap with 36 L2 tests (Refs PMAT-120)
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  Cargo.lock
  book/src/part3/banco.md
  contracts/.pv/cache/lint/00fbf13adcfde687.json
  contracts/.pv/cache/lint/1526e7802b585562.json
  contracts/.pv/cache/lint/23876c67233b27d3.json
  contracts/.pv/cache/lint/4c1ce80999bab4b8.json
  contracts/.pv/cache/lint/80677f9c131ee82f.json
  contracts/.pv/cache/lint/926ce8cd095c34ee.json
  contracts/.pv/cache/lint/d0b2d476a9d673da.json
  contracts/.pv/cache/lint/ef6d35c603df7400.json
Due: quality:book

feat: banco includes alimentar for Arrow parsing + 2 new L2 tests (Refs PMAT-121)
  .pmat/baseline.json
  Cargo.toml
  src/serve/banco/handlers_data.rs
  tests/banco_workflows.rs
Due: build:docker, test:docker-compose

feat: mark training runs as simulated — honest Jidoka labeling (Refs PMAT-121)
  .pmat/baseline.json
  src/serve/banco/training.rs
  tests/banco_workflows.rs
Due: build:docker, test:docker-compose

feat: mark merge results as simulated — empty placeholder tensors (Refs PMAT-121)
  .pmat/baseline.json
  src/serve/banco/handlers_merge.rs
  tests/banco_workflows.rs
Due: build:docker, test:docker-compose

docs: update falsification report — tokenizer fixed, integration map current (Refs PMAT-121)
  .pmat/baseline.json
  docs/specifications/components/banco-falsification-report.md
Due: none

feat: banco includes entrenar — real merge API, proper feature gates (Refs PMAT-122)
  .pmat/baseline.json
  Cargo.toml
  src/serve/banco/handlers_merge.rs
  src/serve/banco/recipes.rs
  src/serve/banco/training_engine.rs
Due: build:docker, test:docker-compose

feat: add 6 more L2 tests — tools, recipes, search, registry, Ollama (Refs PMAT-122)
  .pmat/baseline.json
  tests/banco_workflows.rs
Due: none

docs: update book — 44 L2 tests, self-contained banco feature (Refs PMAT-122)
  .pmat/baseline.json
  book/src/part3/banco.md
Due: quality:book

feat: add 5 L2 tests — conversation export/import, MCP info, audio formats, health (Refs PMAT-123)
  .pmat/baseline.json
  tests/banco_endpoints.rs
Due: none

feat: add recipe upload→run→dataset workflow L2 test — validates data pipeline (Refs PMAT-123)
  .pmat/baseline.json
  tests/banco_workflows.rs
Due: none

docs: update book + spec — 50 L2 tests, Phase 5a status (Refs PMAT-123)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: training uses real dataset size + model vocab, spec integration map updated (Refs PMAT-123)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
  src/serve/banco/handlers_train.rs
Due: build:docker, test:docker-compose

feat: extend recipe workflow L2 test to include training — full data pipeline (Refs PMAT-123)
  .pmat/baseline.json
  tests/banco_workflows.rs
Due: none

docs: falsify spec — fix handler count (35→24), state diagram (12→19 fields), inference clarity (Refs PMAT-124)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

feat: banco feature now includes realizar — batteries-included workbench (Refs PMAT-125)
  .pmat/baseline.json
  Cargo.toml
  src/serve/banco/compat_ollama.rs
  src/serve/banco/eval.rs
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_batch.rs
  src/serve/banco/handlers_completions.rs
  src/serve/banco/handlers_eval.rs
  src/serve/banco/handlers_inference.rs
  src/serve/banco/handlers_tokens.rs
  src/serve/banco/inference.rs
  src/serve/banco/inference_tests.rs
  src/serve/banco/mod.rs
  src/serve/banco/model_slot.rs
Due: build:docker, test:docker-compose

docs: update spec + book — banco is batteries-included, 358 L1 + 50 L2 (Refs PMAT-125)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: add L2 tests for model load/unload + training export/stop (Refs #52, Refs #53)
  .pmat/baseline.json
  tests/banco_endpoints.rs
  tests/banco_workflows.rs
Due: none

feat: add 11 L2 coverage gap tests — experiments, files, Ollama, tools (Refs #54, Refs #55, Refs #56)
  .pmat/baseline.json
  tests/banco_coverage.rs
Due: none

docs: update spec + book — 64 L2 tests, 81% route coverage (Refs #54, Refs #55, Refs #56)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: close L2 coverage to 98.6% — 70 tests, 73/74 routes covered (Refs #55, Refs #56)
  .pmat/baseline.json
  tests/banco_coverage.rs
Due: none

docs: 98.6% L2 route coverage — 70 tests, 73/74 routes (Refs #55, Refs #56)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: first L4 browser tests via probar CDP — headless Chrome validates UI (Refs #58)
  .pmat/baseline.json
  Cargo.toml
  tests/banco_browser.rs
Due: none

docs: update spec + book — L4 browser tests achieved, 430 total tests (Refs #58)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: zero-JS browser UI — server-rendered HTML form replaces 41 lines inline JS (Refs #57)
  .pmat/baseline.json
  src/serve/banco/handlers_ui.rs
  src/serve/banco/router.rs
  src/serve/banco/ui_tests.rs
  tests/banco_coverage.rs
Due: build:docker, test:docker-compose

docs: Phase 5a COMPLETE — zero-JS UI, 432 tests, batteries-included (Refs #57)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: training computes real loss via model forward pass when loaded (Refs #59)
  .pmat/baseline.json
  src/serve/banco/handlers_train.rs
  src/serve/banco/training_engine.rs
Due: build:docker, test:docker-compose

docs: spec integration map — entrenar uses real loss via forward pass (Refs #59)
  .pmat/baseline.json
  docs/specifications/components/banco-spec.md
Due: none

fix: remove 41-line inline JS dead code from ui.rs — zero-JS policy enforced (Refs #57)
  .pmat/baseline.json
  src/serve/banco/ui.rs
  src/serve/banco/ui_tests.rs
Due: build:docker, test:docker-compose

docs: update spec + falsification — zero-JS policy now enforced, all stale JS refs fixed (Refs #57)
  .pmat/baseline.json
  docs/specifications/components/banco-falsification-report.md
  docs/specifications/components/banco-spec.md
Due: none

feat: 100% L2 route coverage — WebSocket test closes last gap, 74/74 routes (Refs #56)
  .pmat/baseline.json
  Cargo.toml
  tests/banco_coverage.rs
Due: none
