Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

feat(stack): Implement Stack Quality Matrix (Refs #10)
  docs/specifications/stack-quality-matrix-spec.md
  src/main.rs
  src/stack/mod.rs
  src/stack/quality.rs
Due: build:docker, test:docker-compose

feat(stack): Add quality gate enforcement for A- threshold compliance (Refs STACK-GATE)
  .github/workflows/ci.yml
  .pmat-gates.toml
  .pre-commit-config.yaml
  Makefile
  book/src/part6/cli-stack.md
  docs/hero.svg
  docs/roadmaps/roadmap.yaml.bak
  docs/specifications/stack-quality-matrix-spec.md
  examples/stack_quality_demo.rs
  src/lib.rs
  src/main.rs
  src/stack/checker.rs
  src/stack/mod.rs
  src/stack/quality.rs
Due: build:docker, test:docker-compose, quality:book

docs: Improve book demo-score to A- (85.9) (Refs DOCS-FIX)
  .github/workflows/book.yml
  book/README.md
Due: quality:book

chore: Add demo-score pre-commit hook for A- enforcement (Refs DOCS-FIX)
  .pre-commit-config.yaml
Due: none

feat(stack): Add bashrs to PAIML stack tree (Refs STACK-UPDATE)
  src/stack/tree.rs
Due: build:docker, test:docker-compose

fix(roadmap): Quote acceptance_criteria strings with colons (Refs STACK-UPDATE)
  docs/roadmaps/roadmap.yaml
Due: none

docs: Add hero image and improve README format (Refs STACK-AUDIT)
  .github/batuta-hero.svg
  README.md
  docs/roadmaps/roadmap.yaml
Due: none

feat(stack): Add diagnostics module for stack visualization
  book/src/SUMMARY.md
  book/src/part3/stack-diagnostics.md
  docs/specifications/stack-visualization-diagnostics-reporting.md
  examples/stack_diagnostics_demo.rs
  examples/stack_dogfood.rs
  src/lib.rs
  src/stack/diagnostics.rs
  src/stack/mod.rs
  src/stack/tree.rs
Due: build:docker, test:docker-compose, quality:book

fix(examples): Add proper error handling to content_demo
  examples/content_demo.rs
Due: none

fix(examples): Replace unwrap() with proper error handling
  docs/roadmaps/roadmap.yaml
  examples/mcp_demo.rs
  examples/stack_diagnostics_demo.rs
Due: none

docs(book): Complete glossary and error-codes appendices
  book/src/appendix/error-codes.md
  book/src/appendix/glossary.md
Due: quality:book

docs(book): Complete key appendix and Toyota Way chapters
  book/docs/roadmaps/roadmap.yaml
  book/docs/roadmaps/roadmap.yaml.lock
  book/src/appendix/contributing.md
  book/src/appendix/languages.md
  book/src/appendix/license.md
  book/src/part1/jidoka.md
  book/src/part1/kaizen.md
Due: quality:book

chore: Complete PMAT-UNWRAP work item
  book/.pmat-metrics/commit-398733e-meta.json
  book/docs/roadmaps/roadmap.yaml
Due: quality:book

feat(content): Update DetailedOutline to 3 weeks, 3 modules
  book/docs/roadmaps/roadmap.yaml
  src/content/mod.rs
Due: build:docker, test:docker-compose, quality:book

chore: Complete COURSE-OUTLINE work item
  book/.pmat-metrics/commit-f4e9d27-meta.json
  book/docs/roadmaps/roadmap.yaml
Due: quality:book

feat(content): Add module structure with videos, quiz, reading, lab
  book/docs/roadmaps/roadmap.yaml
  src/content/mod.rs
Due: build:docker, test:docker-compose, quality:book

chore: Complete MODULE-STRUCTURE (Refs MODULE-STRUCTURE)
  book/.pmat-metrics/commit-aadbc76-meta.json
  book/docs/roadmaps/roadmap.yaml
Due: quality:book

feat(content): Add configurable CourseLevel for detailed outlines
  .pmat-metrics/commit-501e735-meta.json
  book/docs/roadmaps/roadmap.yaml
  book/src/SUMMARY.md
  book/src/part6/cli-content.md
  docs/roadmaps/roadmap.yaml
  examples/content_demo.rs
  src/content/mod.rs
  src/main.rs
Due: build:docker, test:docker-compose, quality:book

chore: Bump version to 0.1.5 for release
  Cargo.toml
Due: none

chore: Update Cargo.lock for v0.1.5 (Refs COURSE-LEVELS)
  Cargo.lock
Due: none

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
