Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

feat: add SVG Grid Protocol engine for 1080p video-optimized layouts
  .pmat/baseline.json
  src/oracle/svg/builder.rs
  src/oracle/svg/grid_protocol.rs
  src/oracle/svg/lint.rs
  src/oracle/svg/mod.rs
  src/oracle/svg/palette.rs
  src/oracle/svg/renderers/shape_heavy.rs
  src/oracle/svg/renderers/text_heavy.rs
  src/oracle/svg/typography.rs
Due: build:docker, test:docker-compose

docs: update book and example for SVG Grid Protocol (Refs CB-082)
  .pmat/baseline.json
  book/src/part3/oracle-mode.md
  examples/svg_generation_demo.rs
Due: quality:book

feat: add arXiv paper enrichment for Oracle mode (--arxiv, --arxiv-live)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
  src/cli/oracle_classic.rs
  src/main.rs
  src/oracle/arxiv.rs
  src/oracle/mod.rs
Due: build:docker, test:docker-compose

docs: update book and example for arXiv paper enrichment (Refs CB-082)
  .pmat/baseline.json
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/oracle_demo.rs
Due: quality:book

fix: resolve pmat comply warnings in arXiv module (Refs CB-082)
  .pmat/baseline.json
  src/oracle/arxiv.rs
Due: build:docker, test:docker-compose

chore: bump batuta to 0.6.5 (Refs stack-release)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

feat: add forjar to Sovereign AI Stack registry (Refs stack-registry)
  src/oracle/knowledge_graph/components.rs
  src/stack/mod.rs
  src/stack/quality/types.rs
Due: build:docker, test:docker-compose

fix: pmat kaizen round 2 — 1 auto-fix (clippy duplicated_attributes) (Refs kaizen-cleanup)
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
Due: none

feat: integrate provable-contracts, tiny-model-ground-truth into stack registry
  CLAUDE.md
  src/cli/oracle/rag_index.rs
  src/oracle/knowledge_graph/components.rs
  src/oracle/knowledge_graph/integrations.rs
  src/stack/mod.rs
  src/stack/quality/types.rs
Due: build:docker, test:docker-compose

docs: add provable-contracts and tiny-model-ground-truth to examples and book
  .pmat/baseline.json
  book/src/introduction.md
  book/src/part3/support-tools.md
  examples/stack_quality_demo.rs
Due: quality:book

feat: add NL query routing for provable-contracts and tiny-model-ground-truth
  .pmat/baseline.json
  src/oracle/knowledge_graph/domain_mappings.rs
  src/oracle/query_engine.rs
  src/oracle/recommender.rs
Due: build:docker, test:docker-compose

feat: expand RAG index to 90+ repos with private config support
  .gitignore
  CLAUDE.md
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/rag_oracle_demo.rs
  src/cli/oracle/rag_index.rs
  src/cli/oracle_indexing.rs
  src/config.rs
Due: build:docker, test:docker-compose, quality:book

feat: Add MediaProduction domain to Oracle knowledge graph (Refs #30)
  .pmat/baseline.json
  src/oracle/knowledge_graph/domain_mappings.rs
  src/oracle/query_engine.rs
  src/oracle/types.rs
  src/oracle/types_tests.rs
Due: build:docker, test:docker-compose

feat: Expand Oracle MediaProduction for course creation workflows (Refs #30)
  .pmat/baseline.json
  src/oracle/knowledge_graph/domain_mappings.rs
  src/oracle/knowledge_graph/integrations.rs
  src/oracle/query_engine.rs
  src/oracle/types.rs
Due: build:docker, test:docker-compose

feat: Add TTS, narration, AV sync, publishing keywords to Oracle (Refs #30)
  .pmat/baseline.json
  src/oracle/query_engine.rs
Due: build:docker, test:docker-compose

feat: register rmedia in Oracle knowledge graph with full integration (Refs #30)
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/rag_oracle_demo.rs
  src/oracle/knowledge_graph/components.rs
  src/oracle/knowledge_graph/integrations.rs
  src/oracle/query_engine.rs
  src/oracle/recommender.rs
Due: build:docker, test:docker-compose, quality:book

refactor: Replace cloned math/truncate_str with batuta-common delegations (Refs sovereign-stack)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
  src/pacha/helpers.rs
Due: build:docker, test:docker-compose

chore: Switch batuta-common to crates.io v0.1.0 (Refs #159)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
