Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

fix(ci): add explicit rustup target add for cross-compilation
  .github/workflows/nightly.yml
  .pmat/baseline.json
Due: none

ci: update CI, release, and nightly workflows
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: update CI, release, and nightly workflows (#34)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

feat: add aarch64-linux-gnu to nightly build matrix
  .github/workflows/nightly.yml
  .pmat/baseline.json
Due: none

fix: split cross-compile build step for Windows compatibility
  .github/workflows/nightly.yml
Due: none

fix: add CROSS_NO_WARNINGS=0 to cross-compile step
  .github/workflows/nightly.yml
  .pmat/baseline.json
Due: none

fix: patch path deps in nightly workflow for standalone CI build (Refs PMAT-056)
  .github/workflows/nightly.yml
  .pmat/baseline.json
Due: none

fix: guard against division by zero in utilization and token estimation (Refs #43)
  src/serve/circuit_breaker.rs
  src/serve/context.rs
Due: build:docker, test:docker-compose

fix: guard BackendSelector builder against zero bandwidth/gflops div-by-zero (Refs #44)
  .pmat/baseline.json
  src/backend.rs
Due: build:docker, test:docker-compose

fix: println→eprintln in oracle commands to avoid JSON contamination + rename ignored params (Refs PMAT-106)
  src/bug_hunter/pmat_quality.rs
  src/cli/oracle/local.rs
  src/cli/oracle/pmat_query.rs
  src/cli/oracle/rag_commands.rs
  src/cli/oracle/rag_display.rs
  src/pacha/helpers.rs
Due: build:docker, test:docker-compose

chore: partial clippy cleanup for test/example targets (Refs PMAT-106)
  examples/agent_memory.rs
  examples/oracle_local_demo.rs
  examples/pmat_query_demo.rs
  examples/rag_oracle_demo.rs
  examples/serve_demo.rs
  examples/stack_dogfood.rs
  src/cli/mod.rs
  src/cli/oracle/rag_index.rs
  src/lib.rs
  tests/cuda_edge_cases.rs
  tests/integration_test.rs
Due: build:docker, test:docker-compose

fix: replace unwrap with let-else in oracle_indexing.rs (Refs PMAT-106)
  .pmat/baseline.json
  src/cli/oracle_indexing.rs
Due: build:docker, test:docker-compose

fix: log errors instead of silently discarding in oracle config and JSON output (Refs PMAT-116)
  .pmat/baseline.json
  src/cli/bug_hunter_output.rs
  src/cli/oracle/rag_sqlite.rs
Due: build:docker, test:docker-compose

docs: reorganize specifications into 500-line component structure (Refs CB-081)
  docs/specifications/archive/apr-powered-rag-oracle.md
  docs/specifications/archive/batuta-agent.md
  docs/specifications/archive/batuta-orchestration-decy-depyler-trueno-aprender-realizar-ruchy-spec.md
  docs/specifications/archive/batuta-playbook.md
  docs/specifications/archive/batuta-stack-0.1-100-point-qa-checklist.md
  docs/specifications/archive/batuta-stack-spec.md
  docs/specifications/archive/book-score-spec.md
  docs/specifications/archive/bug-hunter-pmat-quality-integration.md
  docs/specifications/archive/citl-cross-language-spec.md
  docs/specifications/archive/code-snippets.md
  docs/specifications/archive/content-creation-tooling-spec.md
  docs/specifications/archive/data-platforms-integration-spec-query.md
  docs/specifications/archive/data-visualization-integration-query.md
  docs/specifications/archive/hugging-face-crud-spec.md
  docs/specifications/archive/hugging-face-integration-query-publish-spec.md
  docs/specifications/archive/improve-oracle.md
  docs/specifications/archive/manzana-apple-hardware-spec.md
  docs/specifications/archive/model-serving-ecosystem-spec.md
  docs/specifications/archive/oracle-mode-spec.md
  docs/specifications/archive/pmat-query-batuta-oracle-integration.md
  docs/specifications/archive/popperian-falsification-checklist.md
  docs/specifications/archive/retriever-spec.md
  docs/specifications/archive/score-a-plus-spec.md
  docs/specifications/archive/sovereign-ai-spec.md
  docs/specifications/archive/sqlite-rag-integration.md
  docs/specifications/archive/stack-quality-matrix-spec.md
  docs/specifications/archive/stack-tree-view.md
  docs/specifications/archive/stack-visualization-diagnostics-reporting.md
  docs/specifications/archive/testing-quality-ecosystem-spec.md
  docs/specifications/batuta-spec.md
  docs/specifications/components/agent-and-playbook.md
  docs/specifications/components/external-integrations.md
  docs/specifications/components/model-serving-and-retrieval.md
  docs/specifications/components/oracle-and-rag.md
  docs/specifications/components/quality-and-testing.md
  docs/specifications/components/sovereign-ai-architecture.md
  docs/specifications/components/stack-management.md
  docs/specifications/components/transpilation-pipeline.md
Due: none

fix: resolve all clippy --all-targets warnings blocking pre-push gate (Refs PMAT-061)
  .pmat/baseline.json
  Cargo.toml
  docs/roadmaps/roadmap.yaml
  src/bug_hunter/localization/tests_multi_channel.rs
  src/bug_hunter/tests_patterns.rs
  src/comply/rules/duplication_tests.rs
  src/falsification/jidoka_tests.rs
  src/lib.rs
  src/oracle/falsify/parser.rs
  src/oracle/rag/falsification_tests.rs
  src/oracle/rag/quantization/tests.rs
  src/pipeline/stages/validation.rs
  src/pipeline/tests.rs
  src/stack/crates_io/tests/client_tests.rs
  src/stack/releaser_preflight/tests.rs
Due: build:docker, test:docker-compose

feat: add tokenize/detokenize endpoints + context window in usage + book/cookbook (Refs PMAT-062)
  .pmat/baseline.json
  book/src/part3/model-serving.md
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/p0_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/types.rs
  src/serve/banco/types_tests.rs
Due: build:docker, test:docker-compose, quality:book

fix: remove machine-specific .cargo/config.toml (Refs PMAT-149)
  .cargo/config.toml
  .gitignore
  .pmat/baseline.json
Due: none

feat: add embeddings endpoint + audit logging middleware (Refs PMAT-063)
  .pmat/baseline.json
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/audit.rs
  src/serve/banco/handlers.rs
  src/serve/banco/mod.rs
  src/serve/banco/p1_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/types.rs
Due: build:docker, test:docker-compose, quality:book

refactor: convert field_reassign_with_default to struct init syntax (Refs PMAT-061)
  Cargo.toml
  src/bug_hunter/cache.rs
  src/bug_hunter/localization/tests_scoring.rs
  src/comply/config.rs
  src/comply/mod.rs
  src/oracle/types_tests.rs
  src/stack/publish_status/tests.rs
  src/stack/publish_status/tests_extended.rs
  src/stack/releaser_preflight/tests.rs
Due: build:docker, test:docker-compose

feat: add conversation persistence — create, list, get, delete, auto-title (Refs PMAT-064)
  .pmat/baseline.json
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/conversations.rs
  src/serve/banco/conversations_tests.rs
  src/serve/banco/handlers.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
Due: build:docker, test:docker-compose, quality:book

feat: add system prompt presets + Ollama API compat layer (Refs PMAT-065)
  .pmat/baseline.json
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/compat_ollama.rs
  src/serve/banco/handlers.rs
  src/serve/banco/mod.rs
  src/serve/banco/p2_tests.rs
  src/serve/banco/prompts.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
Due: build:docker, test:docker-compose, quality:book

feat: add API key authentication for LAN access (Refs PMAT-066)
  .pmat/baseline.json
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/auth.rs
  src/serve/banco/mod.rs
  src/serve/banco/p2_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

feat: add CORS middleware + dedicated Banco book chapter (Refs PMAT-067)
  .pmat/baseline.json
  book/src/SUMMARY.md
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/middleware.rs
  src/serve/banco/middleware_tests.rs
Due: build:docker, test:docker-compose, quality:book

refactor: wire config.toml into startup + split handlers.rs (Refs PMAT-068)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/main_dispatch.rs
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_conversations.rs
  src/serve/banco/handlers_prompts.rs
  src/serve/banco/mod.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose

feat: add model slot + load/unload/status endpoints + --model CLI flag (Refs PMAT-069)
  .pmat/baseline.json
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/main_dispatch.rs
  src/serve/banco/handlers_models.rs
  src/serve/banco/mod.rs
  src/serve/banco/model_slot.rs
  src/serve/banco/model_slot_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
  src/serve/banco/types_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add inference parameter tuning (GET/PUT /api/v1/chat/parameters) (Refs PMAT-070)
  .pmat/baseline.json
  book/src/part6/cli-serve.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/p2_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
Due: build:docker, test:docker-compose, quality:book

refactor: split types.rs into domain modules (383→155 lines) (Refs PMAT-071)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/types.rs
  src/serve/banco/types_chat.rs
  src/serve/banco/types_data.rs
Due: build:docker, test:docker-compose

feat: add response_format for structured output + finalize Phase 2a (Refs PMAT-072)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/types_chat.rs
  src/serve/banco/types_tests.rs
Due: build:docker, test:docker-compose, quality:book

chore: update server banner to show all 24 endpoints + model status (Refs PMAT-072)
  .pmat/baseline.json
  src/serve/banco/server.rs
Due: build:docker, test:docker-compose

feat: extract GGUF metadata via realizar when inference feature enabled (Refs PMAT-073)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/model_slot.rs
Due: build:docker, test:docker-compose

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
