Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

feat(oracle): Add trueno-rag - 20-component Sovereign AI Stack
  .github/batuta-architecture.svg
  README.md
  book/src/part3/oracle-mode.md
  src/oracle/knowledge_graph.rs
  src/oracle/query_engine.rs
Due: build:docker, test:docker-compose, quality:book

docs: Update book introduction + add sovereign-stack SVG diagram
  .github/sovereign-stack.svg
  book/src/assets/sovereign-stack.svg
  book/src/introduction.md
Due: quality:book

docs(spec): Expand Toyota Way section with seven wastes and academic foundation
  book/src/introduction.md
Due: quality:book

docs: Enrich docs with pacha/trueno-rag spec details
  README.md
  book/src/introduction.md
Due: quality:book

chore: Bump version to 0.1.1
  Cargo.toml
Due: none

chore: Update Cargo.lock for v0.1.1
  Cargo.lock
Due: none

docs(book): Add Presentar and Trueno-Viz chapters, update stack versions
  book/src/SUMMARY.md
  book/src/part3/foundation-libs.md
  book/src/part3/presentar.md
  book/src/part3/support-tools.md
  book/src/part3/trueno-viz.md
  book/src/part3/viz-apps.md
Due: quality:book

feat(experiment): Integrate Entrenar Experiment Tracking Spec v1.8.0
  Cargo.lock
  Cargo.toml
  src/experiment.rs
  src/lib.rs
  src/recipes.rs
Due: build:docker, test:docker-compose

feat(stack): Add PAIML Stack Dependency Orchestration module
  Cargo.lock
  Cargo.toml
  Makefile
  docs/reviews/BATUTA-STACK-SPEC-REVIEW.md
  docs/specifications/batuta-stack-spec.md
  src/backend.rs
  src/cli.rs
  src/main.rs
  src/pipeline.rs
  src/stack/checker.rs
  src/stack/crates_io.rs
  src/stack/graph.rs
  src/stack/mod.rs
  src/stack/releaser.rs
  src/stack/types.rs
  tests/integration_test.rs
Due: build:docker, test:docker-compose

feat(stack): Add stack tree view CLI command
  book/src/SUMMARY.md
  book/src/part6/cli-stack.md
  docs/reviews/STACK-TREE-VIEW-REVIEW.md
  docs/roadmaps/roadmap.yaml
  docs/roadmaps/roadmap.yaml.lock
  docs/specifications/stack-tree-view.md
  src/main.rs
  src/stack/mod.rs
  src/stack/tree.rs
Due: build:docker, test:docker-compose, quality:book

feat: Add Model Serving, HuggingFace, and Data Platforms modules
  book/src/SUMMARY.md
  book/src/part3/data-platforms.md
  book/src/part3/model-serving.md
  book/src/part6/cli-data.md
  book/src/part6/cli-hf.md
  docs/reviews/DATA-PLATFORMS-INTEGRATION-REVIEW.md
  docs/reviews/HUGGING-FACE-INTEGRATION-REVIEW.md
  docs/reviews/MODEL-SERVING-ECOSYSTEM-REVIEW.md
  docs/specifications/data-platforms-integration-spec-query.md
  docs/specifications/hugging-face-integration-query-publish-spec.md
  docs/specifications/model-serving-ecosystem-spec.md
  examples/serve_demo.rs
  src/data/mod.rs
  src/data/tree.rs
  src/hf/client.rs
  src/hf/mod.rs
  src/hf/tree.rs
  src/lib.rs
  src/main.rs
  src/serve/backends.rs
  src/serve/circuit_breaker.rs
  src/serve/context.rs
  src/serve/failover.rs
  src/serve/mod.rs
  src/serve/router.rs
  src/serve/templates.rs
Due: build:docker, test:docker-compose, quality:book

feat(content): Add Content Creation Tooling module with Toyota Way integration
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  book/src/SUMMARY.md
  book/src/part3/visualization-frameworks.md
  book/src/part6/cli-viz.md
  docs/reviews/CONTENT-CREATION-TOOLING-REVIEW.md
  docs/reviews/DATA-VISUALIZATION-INTEGRATION-REVIEW.md
  docs/specifications/content-creation-tooling-spec.md
  docs/specifications/data-visualization-integration-query.md
  examples/content_demo.rs
  src/content/mod.rs
  src/experiment/mod.rs
  src/experiment/tree.rs
  src/lib.rs
  src/main.rs
  src/viz/mod.rs
  src/viz/tree.rs
Due: build:docker, test:docker-compose, quality:book

docs(experiment): Document Entrenar v0.2.3 CLI commands and YAML Mode
  README.md
  src/experiment/mod.rs
Due: build:docker, test:docker-compose

docs: Add pmcp and pforge to stack documentation
  README.md
  src/experiment/mod.rs
Due: build:docker, test:docker-compose

docs: Add MCP Tooling book chapters and example
  book/src/SUMMARY.md
  book/src/part3/mcp-tooling.md
  book/src/part3/pforge.md
  book/src/part3/pmcp.md
  examples/mcp_demo.rs
Due: quality:book

chore: Bump version to 0.1.3
  Cargo.lock
  Cargo.toml
  book/src/part3/model-serving.md
  src/main.rs
  src/pacha/mod.rs
  src/serve/backends.rs
  src/serve/lambda.rs
  src/serve/mod.rs
  src/viz/dashboard.rs
  src/viz/mod.rs
Due: build:docker, test:docker-compose, quality:book

docs: Update README and architecture diagram for v0.1.3 release
  .github/batuta-architecture.svg
  README.md
Due: none

docs: fix broken links in documentation and specs (Refs BATUTA-013)
  CONTRIBUTING.md
  README.md
  book/src/part3/presentar.md
  book/src/part3/ruchy.md
  docs/specifications/sovereign-ai-spec.md
Due: quality:book

feat(sovereign-stack): Complete INTEG-001, INTEG-002, INTEG-003
  Cargo.lock
  Cargo.toml
  docs/roadmaps/roadmap.yaml
  examples/sovereign_stack_e2e.rs
  src/pacha/mod.rs
  src/serve/lambda.rs
  src/serve/mod.rs
  tests/integration_test.rs
Due: build:docker, test:docker-compose

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
