Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

feat: add SpeechRecognition domain and expand query parser coverage (Refs PMAT-RAG)
  .pmat/project.toml
  src/oracle/knowledge_graph.rs
  src/oracle/query_engine.rs
  src/oracle/types.rs
Due: build:docker, test:docker-compose

feat: add TDD test companions to all oracle code examples (Refs PMAT-RAG)
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/oracle_demo.rs
  src/cli/oracle.rs
  src/oracle/cookbook.rs
  src/oracle/recommender.rs
Due: build:docker, test:docker-compose, quality:book

docs: document TDD test companions in CLAUDE.md oracle section (Refs PMAT-RAG)
  CLAUDE.md
Due: none

chore: gitignore auto-generated .pmat cache files (Refs PMAT-RAG)
  .gitignore
  .pmat/project.toml
Due: none

feat: integrate trueno-cuda-edge for GPU edge-case testing (Refs TCE-001)
  Cargo.lock
  Cargo.toml
  book/src/SUMMARY.md
  book/src/part3/trueno-cuda-edge.md
  tests/cuda_edge_cases.rs
Due: quality:book

feat: add Databricks Ground Truth Corpus to oracle RAG index (Refs PMAT-RAG)
  CLAUDE.md
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

refactor: reduce cognitive complexity in display_recipe_list and glob_match_parts (Refs PMAT-SATD)
  .pmat/metrics/dependencies.json
  src/cli/oracle.rs
  src/comply/rules/duplication.rs
Due: build:docker, test:docker-compose

fix: resolve 11 clippy warnings (Refs PMAT-CLIPPY)
  .pmat/metrics/dependencies.json
  src/comply/config.rs
  src/comply/report.rs
  src/oracle/falsify/mod.rs
  src/oracle/falsify/parser.rs
  src/oracle/svg/builder.rs
  src/oracle/svg/typography.rs
  src/stack/drift.rs
Due: build:docker, test:docker-compose

docs: add comprehensive function documentation to improve provability (Refs PMAT-SATD)
  .pmat/metrics/dependencies.json
  src/comply/rules/duplication.rs
Due: build:docker, test:docker-compose

test: add comprehensive tests for binary_index module (Refs PMAT-COVERAGE)
  .pmat/metrics/dependencies.json
  src/oracle/rag/binary_index.rs
Due: build:docker, test:docker-compose

fix: resolve clippy warnings in bin and lib targets (Refs PMAT-CLIPPY)
  .pmat/metrics/dependencies.json
  src/main.rs
  src/oracle/rag/binary_index.rs
  src/oracle/svg/palette.rs
  src/oracle/svg/typography.rs
  src/tui/graph_analytics.rs
Due: build:docker, test:docker-compose

fix: correct ProjectOverride test field names (Refs PMAT-COMPLY)
  src/comply/config.rs
Due: build:docker, test:docker-compose

test: add 16 tests to content/emitter.rs for provability (Refs PMAT-COMPLY)
  src/content/emitter.rs
Due: build:docker, test:docker-compose

test: add 14 tests to experiment/sovereign.rs for provability (Refs PMAT-COMPLY)
  src/experiment/sovereign.rs
Due: build:docker, test:docker-compose

test: add 28 tests to oracle/svg/layout.rs for provability (Refs PMAT-COMPLY)
  src/oracle/svg/layout.rs
Due: build:docker, test:docker-compose

test: add 27 tests to oracle/svg/shapes.rs for provability (Refs PMAT-COMPLY)
  src/oracle/svg/shapes.rs
Due: build:docker, test:docker-compose

test: add 22 tests to oracle/svg/builder.rs for provability (Refs PMAT-COMPLY)
  src/oracle/svg/builder.rs
Due: build:docker, test:docker-compose

test: add 11 tests to oracle/rag/profiling.rs for provability (Refs PMAT-COMPLY)
  src/oracle/rag/profiling.rs
Due: build:docker, test:docker-compose

test: add 10 tests to ansi_colors.rs for provability (Refs PMAT-COMPLY)
  src/ansi_colors.rs
Due: build:docker, test:docker-compose

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
