Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

docs: release roadmap reframed — apr-cli is the product (Refs PMAT-157)
  .pmat/baseline.json
  docs/specifications/batuta-spec.md
Due: none

docs: release gate status — trueno 88.2% coverage, cc crate fix (Refs PMAT-157)
  .pmat/baseline.json
  docs/specifications/batuta-spec.md
Due: none

docs: release progress — trueno+realizar pushed, CI running (Refs PMAT-157)
  .pmat/baseline.json
  docs/specifications/batuta-spec.md
Due: none

docs: release manifest (7 crates), book apr code chapter, oracle refresh (Refs PMAT-157)
  .pmat/baseline.json
  CLAUDE.md
  book/src/part3/agent-runtime.md
  docs/specifications/batuta-spec.md
Due: quality:book

docs: CI progress — entrenar green, 4 repos running (Refs PMAT-157)
  .pmat/baseline.json
  docs/specifications/batuta-spec.md
Due: none

chore: baseline refresh, roadmap update, code_prompts formatting (Refs PMAT-157)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/agent/code_prompts.rs
Due: build:docker, test:docker-compose

fix: regenerate contracts — _pv_ prefix fixes cross-crate macro hygiene
  .pmat/baseline.json
  src/generated_contracts.rs
Due: build:docker, test:docker-compose

fix: clippy errors + flaky test for CI green (Refs PMAT-157)
  .pmat/baseline.json
  src/agent/code_tests.rs
  src/agent/driver/apr_serve_tests.rs
  src/batuta_contracts.rs
  src/bug_hunter/contracts.rs
  src/cli/code_tests.rs
  src/lib.rs
  src/main.rs
Due: build:docker, test:docker-compose

chore: rustfmt batuta_contracts.rs, baseline refresh (Refs PMAT-157)
  .pmat/baseline.json
  src/batuta_contracts.rs
Due: build:docker, test:docker-compose

chore: rustfmt generated_contracts.rs (auto-generated, ratchet bypass) (Refs PMAT-157)
  .pmat/baseline.json
  src/generated_contracts.rs
Due: build:docker, test:docker-compose

fix: CI-proof tests — skip apr binary check, use sh not bash (Refs PMAT-157)
  .pmat/baseline.json
  src/agent/driver/apr_serve_tests.rs
  src/agent/tool/mcp_client_tests.rs
Due: build:docker, test:docker-compose

fix: skip stdio MCP tests in CI (subprocess unreliable) (Refs PMAT-157)
  .pmat/baseline.json
  src/agent/tool/mcp_client_tests.rs
Due: build:docker, test:docker-compose

chore: rustfmt MCP tests, baseline refresh (Refs PMAT-157)
  .pmat/baseline.json
  src/agent/tool/mcp_client_tests.rs
Due: build:docker, test:docker-compose

docs: README rewrite — provable-contracts style (Refs PMAT-157)
  .pmat/baseline.json
  README.md
Due: none

fix: remove provable-contracts checkout from nightly (path outside workspace)
  .github/workflows/nightly.yml
Due: none

fix: add provable-contracts checkout + symlink to nightly
  .github/workflows/nightly.yml
Due: none

doc: add batuta-cookbook link to Documentation section
  README.md
Due: none

fix: add probar sibling checkout to nightly for path dep resolution (Refs batuta#87)
  .github/workflows/nightly.yml
Due: none

fix: add probar sibling checkout to nightly for path dep resolution (Refs batuta#87) (#89)
  .github/workflows/nightly.yml
Due: none

release: batuta 0.7.3 — strip path deps, pv kind:pattern for agent-loop (Refs PMAT-157)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
  contracts/agent-loop-v1.yaml
Due: none
