Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

chore: track SQI-055 work item in roadmap
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  docs/roadmaps/roadmap.yaml
Due: none

fix: QA-002 guard.rs <=500 lines + QA-010 zero unwrap() (Refs SQI-068)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  src/agent/guard.rs
  src/agent/tool/inference.rs
Due: build:docker, test:docker-compose, quality:book

docs: add NetworkTool and SpawnTool to book module structure (Refs SQI-069)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

docs: add NetworkTool and SpawnTool to agent-runtime book chapter
  .pmat/baseline.json
Due: none

feat: add token budget enforcement to LoopGuard (INV-016, Refs SQI-071)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  contracts/agent-loop-v1.yaml
  src/agent/contracts.rs
  src/agent/guard.rs
  src/agent/guard_tests.rs
  src/agent/manifest.rs
  src/agent/runtime.rs
Due: build:docker, test:docker-compose, quality:book

feat: add SSE streaming to RemoteDriver (Anthropic + OpenAI)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
  book/src/part3/agent-runtime.md
  src/agent/driver/remote.rs
  src/agent/driver/remote_stream.rs
  src/agent/driver/remote_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add --stream flag to agent run and chat commands (Refs SQI-072)
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

fix: update agent_tests.rs for new --stream parameter (Refs SQI-072)
  .pmat/baseline.json
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose

feat: add agent TUI dashboard with presentar-terminal rendering (Refs SQI-073)
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/tui.rs
Due: build:docker, test:docker-compose

refactor: split cli/agent.rs into agent_runtime_cmds.rs for QA-002 compliance (Refs SQI-074)
  .pmat/baseline.json
  src/cli/agent.rs
  src/cli/agent_runtime_cmds.rs
Due: build:docker, test:docker-compose

refactor: split agent/tui.rs into tui_render.rs for QA-002 compliance (Refs SQI-074)
  .pmat/baseline.json
  src/agent/tui.rs
  src/agent/tui_render.rs
Due: build:docker, test:docker-compose

docs: add TUI dashboard and --stream flag to agent runtime book chapter (Refs SQI-075)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

refactor: extract remote_stream tests to separate file for QA-002 (Refs SQI-074)
  .pmat/baseline.json
  src/agent/driver/remote_stream.rs
  src/agent/driver/remote_stream_tests.rs
Due: build:docker, test:docker-compose

fix: restore test re-exports after QA-002 module extraction (Refs SQI-074)
  .pmat/baseline.json
  examples/agent_demo.rs
  src/cli/agent.rs
Due: build:docker, test:docker-compose

fix: correct INV-012 contract test binding name (Refs SQI-076)
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
  src/agent/contracts.rs
Due: build:docker, test:docker-compose

feat: add contract verification example and update book DBC docs (Refs SQI-077)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_contracts.rs
Due: quality:book

refactor: split runtime_tests.rs for QA-002 compliance (≤500 lines) (Refs SQI-078)
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
  examples/agent_contracts.rs
  src/agent/contracts.rs
  src/agent/runtime.rs
  src/agent/runtime_tests.rs
  src/agent/runtime_tests_advanced.rs
Due: build:docker, test:docker-compose

fix: trim runtime.rs doc comment to stay under QA-002 500-line limit (Refs SQI-078)
  .pmat/baseline.json
  src/agent/runtime.rs
Due: build:docker, test:docker-compose

feat: add agent signing, memory, and pool dogfooding examples (Refs SQI-079)
  .pmat/baseline.json
  examples/agent_memory.rs
  examples/agent_pool.rs
  examples/agent_signing.rs
Due: none
