Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

refactor: replace 120 production unwrap() calls with safe alternatives (Refs PMAT-UNWRAP)
  src/comply/report.rs
  src/oracle/falsify/report.rs
  src/oracle/svg/palette.rs
  src/stack/publish_status/format.rs
Due: build:docker, test:docker-compose

chore: update pmat baseline (Refs PMAT-UNWRAP)
  .pmat/baseline.json
Due: none

fix(bug-hunter): replace thread::join().unwrap() with filter_map for panic safety
  .pmat/baseline.json
  src/bug_hunter/mod.rs
Due: build:docker, test:docker-compose

refactor: replace last Color::from_hex().unwrap() with Color::rgb() in typography.rs (Refs PMAT-UNWRAP)
  .pmat/baseline.json
  src/oracle/svg/typography.rs
Due: build:docker, test:docker-compose

chore: mark GH-19 complete, add commit metadata (Refs GH-19)
  .pmat-metrics/commit-72c23bf-meta.json
  .pmat-metrics/commit-8f0b621-meta.json
  .pmat-metrics/commit-919cd78-meta.json
  .pmat-metrics/commit-e628d69-meta.json
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
Due: none

fix(falsify): resolve file paths to project root before evaluation (Refs GH-23)
  .pmat/baseline.json
  src/cli/falsify.rs
Due: build:docker, test:docker-compose

refactor(cli): extract bug_hunter output formatting into bug_hunter_output.rs (Refs GH-22)
  .pmat/baseline.json
  src/cli/bug_hunter.rs
  src/cli/bug_hunter_output.rs
Due: build:docker, test:docker-compose

refactor: extract test modules from 5 large files (Refs GH-22)
  .pmat/baseline.json
  src/analyzer.rs
  src/analyzer_tests.rs
  src/backend.rs
  src/backend_tests.rs
  src/oracle/rag/falsification.rs
  src/oracle/rag/falsification_tests.rs
  src/oracle/recommender.rs
  src/oracle/recommender_tests.rs
  src/stack/graph.rs
  src/stack/graph_tests.rs
Due: build:docker, test:docker-compose

refactor: extract test modules from 5 large files (Refs GH-22)
  .pmat/baseline.json
Due: none

refactor: extract test modules from 5 more files, fix unsafe test allowlist (Refs GH-22)
  src/falsification/auditors.rs
  src/falsification/auditors_tests.rs
  src/falsification/invariants.rs
  src/falsification/invariants_tests.rs
  src/falsification/safety.rs
  src/parf.rs
  src/parf_tests.rs
  src/serve/context.rs
  src/serve/context_tests.rs
  src/stack/checker.rs
  src/stack/checker_tests.rs
Due: build:docker, test:docker-compose

refactor: extract test modules from 17 more files (Refs GH-22)
  .pmat/baseline.json
  src/bug_hunter/types.rs
  src/bug_hunter/types_tests.rs
  src/comply/report.rs
  src/comply/report_tests.rs
  src/falsification/jidoka.rs
  src/falsification/jidoka_tests.rs
  src/falsification/safety_tests.rs
  src/falsification/technical_debt.rs
  src/falsification/technical_debt_tests.rs
  src/hf/hub_client.rs
  src/hf/hub_client_tests.rs
  src/oracle/rag/persistence.rs
  src/oracle/rag/persistence_tests.rs
  src/oracle/rag/retriever.rs
  src/oracle/rag/retriever_tests.rs
  src/oracle/svg/shapes.rs
  src/oracle/svg/shapes_tests.rs
  src/oracle/types.rs
  src/oracle/types_tests.rs
  src/report.rs
  src/report_tests.rs
  src/serve/lambda.rs
  src/serve/lambda_tests.rs
  src/stack/diagnostics_ml.rs
  src/stack/diagnostics_ml_tests.rs
Due: build:docker, test:docker-compose

feat(stack): implement release execution and sync commands (Refs GH-9)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/cli/stack.rs
  src/falsification/numerical_reproducibility.rs
  src/stack/checker.rs
  src/stack/releaser/orchestrator.rs
  src/stack/releaser/tests.rs
  src/tui/graph_analytics.rs
Due: build:docker, test:docker-compose

docs(adr): ADR-002 decides batuta as ollama-style CLI location (Refs GH-14)
  .pmat/baseline.json
  docs/adr/ADR-002-ollama-style-cli-location.md
Due: none

chore: update pmat cache and roadmap metadata (Refs GH-14)
  .pmat/baseline.json
  .pmat/bug-hunter-cache/119c184dc97191d3.json
  .pmat/bug-hunter-cache/9703cf02a573ed6a.json
  .pmat/bug-hunter-cache/c45433c536601571.json
  .pmat/bug-hunter-cache/d5ff5eadb03d9948.json
  .pmat/bug-hunter-cache/e25da52c902f7dd5.json
  .pmat/metrics/dependencies.json
  docs/roadmaps/roadmap.yaml
Due: none

feat(mcp): add MCP server with HF tools and wire CLI hf commands (Refs GH-11)
  .pmat/baseline.json
  src/cli/hf.rs
  src/lib.rs
  src/main.rs
  src/mcp/mod.rs
  src/mcp/server.rs
  src/mcp/types.rs
Due: build:docker, test:docker-compose

feat(pipeline): implement build command with cargo integration (Refs PMAT-024)
  .pmat/baseline.json
  src/cli/pipeline_cmds.rs
Due: build:docker, test:docker-compose

feat(pipeline): implement optimize command with MoE analysis (Refs PMAT-025)
  .pmat/baseline.json
  src/cli/pipeline_cmds.rs
Due: build:docker, test:docker-compose

feat(pipeline): implement Ruchy REPL for interactive transpilation (Refs PMAT-026)
  .pmat/baseline.json
  src/cli/pipeline_cmds.rs
Due: build:docker, test:docker-compose

feat(pipeline): implement validate sub-features: diff, tests, benchmark (Refs PMAT-027)
  .pmat/baseline.json
  src/cli/pipeline_cmds.rs
Due: build:docker, test:docker-compose

docs(book+examples): write CLI reference and workflow phase documentation (Refs PMAT-028)
  .pmat/baseline.json
  book/src/SUMMARY.md
  book/src/part2/phase3-optimization.md
  book/src/part2/phase4-validation.md
  book/src/part2/phase5-deployment.md
  book/src/part6/cli-analyze.md
  book/src/part6/cli-build.md
  book/src/part6/cli-deploy.md
  book/src/part6/cli-init.md
  book/src/part6/cli-mcp.md
  book/src/part6/cli-optimize.md
  book/src/part6/cli-overview.md
  book/src/part6/cli-report.md
  book/src/part6/cli-reset.md
  book/src/part6/cli-serve.md
  book/src/part6/cli-status.md
  book/src/part6/cli-transpile.md
  book/src/part6/cli-validate.md
  examples/pipeline_demo.rs
Due: quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
