Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

test: Add comprehensive parf.rs tests (45% → 90%+) (Refs BATUTA-011)
  src/parf.rs
Due: build:docker, test:docker-compose

test: Add comprehensive plugin.rs tests (3 → 31 tests, 10x increase) (Refs BATUTA-011)
  src/plugin.rs
Due: build:docker, test:docker-compose

test: Add comprehensive pytorch_converter.rs tests (7 → 39 tests, 5.6x increase) (Refs BATUTA-011)
  src/pytorch_converter.rs
Due: build:docker, test:docker-compose

test: Add comprehensive sklearn_converter.rs tests (7 → 44 tests, 6.3x increase) (Refs BATUTA-011)
  src/sklearn_converter.rs
Due: build:docker, test:docker-compose

test: Add comprehensive numpy_converter.rs tests (5 → 34 tests, 6.8x increase) (Refs BATUTA-011)
  src/numpy_converter.rs
Due: build:docker, test:docker-compose

docs: Update README with comprehensive test coverage achievements (Refs BATUTA-011)
  README.md
Due: none

docs: Add comprehensive coverage improvement campaign report (Refs BATUTA-011)
  COVERAGE_REPORT.md
Due: none

Release v0.1.0 - First public release
  CHANGELOG.md
Due: none

fix: Exclude book/ directory from crates.io package
  Cargo.toml
Due: none

refactor: Standardize Makefile coverage pattern and fix clippy issues
  Makefile
  benches/converter_performance.rs
  examples/custom_plugin.rs
  src/backend.rs
  src/numpy_converter.rs
  src/parf.rs
  src/plugin.rs
  src/pytorch_converter.rs
  src/sklearn_converter.rs
  src/tools.rs
  src/types.rs
  src/wasm.rs
Due: build:docker, test:docker-compose

test: Fix report generation integration tests
  tests/integration_test.rs
Due: none

fix: Enforce bashrs linting on Makefile - fix shell compatibility issues
  Makefile
Due: none

docs(spec): Add Oracle Mode specification for stack query interface (Refs BATUTA-ORACLE-001)
  docs/specifications/oracle-mode-spec.md
Due: none

docs(spec): Expand Oracle Mode to 20 peer-reviewed references (Refs BATUTA-ORACLE-001)
  docs/specifications/oracle-mode-spec.md
Due: none

docs(specs): Add CITL cross-language generalization spec (Refs depyler#156)
  docs/specifications/citl-cross-language-spec.md
Due: none

feat(oracle): Implement Oracle Mode intelligent query interface
  Cargo.lock
  Cargo.toml
  Makefile
  book/src/SUMMARY.md
  book/src/part3/bashrs.md
  book/src/part3/oracle-mode.md
  book/src/part3/renacer.md
  book/src/part3/ruchy.md
  book/src/part6/cli-oracle.md
  examples/oracle_demo.rs
  golden_traces/ANALYSIS.md
  golden_traces/backend_selection.json
  golden_traces/backend_selection_source.json
  golden_traces/backend_selection_summary.txt
  golden_traces/full_transpilation.json
  golden_traces/full_transpilation_summary.txt
  golden_traces/oracle_demo.json
  golden_traces/oracle_demo_source.json
  golden_traces/oracle_demo_summary.txt
  golden_traces/pipeline_demo.json
  golden_traces/pipeline_demo_summary.txt
  renacer.toml
  scripts/capture_golden_traces.sh
  src/lib.rs
  src/main.rs
  src/oracle/knowledge_graph.rs
  src/oracle/mod.rs
  src/oracle/query_engine.rs
  src/oracle/recommender.rs
  src/oracle/types.rs
Due: build:docker, test:docker-compose, quality:book

docs: Add architecture diagram SVG
  .github/batuta-architecture.svg
Due: none

docs: Update README with Oracle Mode and 17-component stack
  README.md
Due: none

feat(oracle): Add pforge and upgrade PMAT to v2.205.0 - 18-component stack
  .github/batuta-architecture.svg
  README.md
  book/src/part3/oracle-mode.md
  src/oracle/knowledge_graph.rs
  src/oracle/query_engine.rs
Due: build:docker, test:docker-compose, quality:book

feat(oracle): Add pacha + enhance realizar/pforge - 19-component stack
  .github/batuta-architecture.svg
  GOLDEN_TRACE_INTEGRATION_SUMMARY.md
  README.md
  book/src/part3/oracle-mode.md
  lcov.info
  src/oracle/knowledge_graph.rs
  src/oracle/query_engine.rs
Due: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
