Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: add contract verification (BH-26) and model parity (BH-27) gap analysis to bug-hunter (Refs #26)
  book/src/part6/cli-bug-hunter.md
  examples/bug_hunter_demo.rs
  src/bug_hunter/cache.rs
  src/bug_hunter/contracts.rs
  src/bug_hunter/mod.rs
  src/bug_hunter/model_parity.rs
  src/bug_hunter/types.rs
  src/bug_hunter/types_tests.rs
  src/cli/bug_hunter.rs
  src/cli/bug_hunter_output.rs
  src/cli/oracle/rag_index.rs
  src/config.rs
  src/oracle/query_engine.rs
  src/playbook/mod.rs
Due: build:docker, test:docker-compose, quality:book

style: kaizen auto-fix rustfmt formatting (Refs #28)
  examples/rag_oracle_demo.rs
  src/oracle/knowledge_graph/integrations.rs
Due: build:docker, test:docker-compose

fix: remove dead asciinema badge and stray URL from README (Refs #29)
  .pmat/baseline.json
  README.md
Due: none

refactor: split bug_hunter/tests_mod.rs (4088 lines) into 4 sub-modules via include!() (Refs #22)
  src/bug_hunter/tests_coverage.rs
  src/bug_hunter/tests_hunt.rs
  src/bug_hunter/tests_mod.rs
  src/bug_hunter/tests_modes.rs
  src/bug_hunter/tests_patterns.rs
Due: build:docker, test:docker-compose

config: exclude examples/ from CB-200 TDG Grade Gate (Refs #22)
  .pmat.yaml
  .pmat/baseline.json
Due: none

refactor: split register_rlhf_recipes (762 lines, complexity 17) into 3 sub-modules (Refs #22)
  src/oracle/cookbook/mod.rs
  src/oracle/cookbook/recipes_more.rs
  src/oracle/cookbook/recipes_rlhf_alignment.rs
  src/oracle/cookbook/recipes_rlhf_efficiency.rs
  src/oracle/cookbook/recipes_rlhf_training.rs
Due: build:docker, test:docker-compose

refactor: extract builtin_entries data (1105 lines) into arxiv_entries.rs via include!() (Refs #22)
  .pmat/baseline.json
  src/oracle/coursera/arxiv_db.rs
  src/oracle/coursera/arxiv_entries.rs
Due: build:docker, test:docker-compose

refactor: decompose run_playbook (396 lines, complexity 33) into 12 focused helpers (Refs #22)
  src/playbook/executor.rs
Due: build:docker, test:docker-compose

chore: update pmat baseline after executor refactor (Refs #22)
  .pmat/baseline.json
Due: none

chore: update trueno + realizar deps for stack drift fix (Refs #1)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

chore: migrate serde_yaml to serde_yaml_ng
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  Cargo.lock
  Cargo.toml
  examples/mcp_demo.rs
  examples/playbook_demo.rs
  src/bug_hunter/contracts.rs
  src/bug_hunter/ticket.rs
  src/cli/playbook.rs
  src/comply/config.rs
  src/comply/rules/ci_workflow.rs
  src/falsification/auditors.rs
  src/falsification/auditors_tests.rs
  src/falsification/helpers.rs
  src/falsification/invariants_tests.rs
  src/playbook/cache.rs
  src/playbook/executor.rs
  src/playbook/hasher.rs
  src/playbook/parser.rs
  src/playbook/template.rs
  src/playbook/types.rs
  src/viz/dashboard.rs
Due: build:docker, test:docker-compose

feat: multi-index oracle RAG with RRF fusion via private endpoints (Refs PMAT-017)
  .pmat/baseline.json
  src/cli/oracle/rag.rs
Due: build:docker, test:docker-compose

test: add 36 tests for multi-index RAG with 87% line coverage (Refs PMAT-017)
  .pmat/baseline.json
  src/cli/oracle/rag.rs
Due: build:docker, test:docker-compose

test: batuta rag.rs 95% coverage — add dispatch helper, JSON stats, dashboard tests (Refs PMAT-017)
  .pmat/baseline.json
  src/cli/oracle/rag.rs
Due: build:docker, test:docker-compose

feat: load .batuta-private.toml from home dir (work from anywhere)
  .pmat/baseline.json
  src/config.rs
Due: build:docker, test:docker-compose

feat: Add --answer mode for RAG-to-action answer generation (Refs PMAT-024)
  .pmat/baseline.json
  Cargo.lock
  src/cli/oracle/mod.rs
  src/cli/oracle/rag.rs
  src/main.rs
Due: build:docker, test:docker-compose

feat: add domain-specific Verus verification specs for stack management (Refs VERIFY-001)
  .cargo/config.toml
  .github/workflows/benchmark.yml
  .github/workflows/clippy-lint.yml
  .github/workflows/post-release.yml
  .github/workflows/security.yml
  .github/workflows/stress.yml
  .gitignore
  .pmat/baseline.json
  Cargo.toml
  README.md
  justfile
  mutants.toml
  rustfmt.toml
  src/verification_specs.rs
Due: build:docker, test:docker-compose

feat: add domain-specific Verus verification specs
  .pmat/baseline.json
Due: none

chore: improve quality scores (docs, hygiene, CI, pre-commit)
  .cargo/config.toml
  .claude/plan.md
  .github/workflows/cross-platform.yml
  .pmat/baseline.json
  Cargo.toml
  FALSIFICATION_SWEEP.md
  README.md
  docs/design-by-contract.md
  examples/design_by_contract.rs
  tests/property_test.rs
Due: none
