Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

test: add coverage gap tests for context, SIMD, and duplication rules (Refs PMAT-029)
  src/comply/rules/duplication.rs
  src/oracle/rag/quantization/tests.rs
  src/serve/context_tests.rs
Due: build:docker, test:docker-compose

refactor(bug-hunter): extract helpers to reduce cognitive complexity below 25 (Refs PMAT-029)
  .pmat/baseline.json
  src/bug_hunter/mod.rs
Due: build:docker, test:docker-compose

test(bug-hunter): add coverage tests and refactor is_real_pattern complexity
  .pmat/baseline.json
  src/bug_hunter/diff.rs
  src/bug_hunter/localization.rs
  src/bug_hunter/patterns.rs
  src/bug_hunter/spec.rs
Due: build:docker, test:docker-compose

test: add coverage tests for bug_hunter, local_workspace, and svg lint (Refs CB-081)
  .pmat/baseline.json
  src/bug_hunter/mod.rs
  src/oracle/local_workspace.rs
  src/oracle/svg/lint.rs
Due: build:docker, test:docker-compose

test: add coverage tests for local_workspace and diagnostics engine (Refs CB-081)
  .pmat/baseline.json
  src/oracle/local_workspace.rs
  src/stack/diagnostics/tests/engine_tests.rs
Due: build:docker, test:docker-compose

test(bug-hunter): add 20 coverage tests for stack trace, fuzz, unsafe, spec (Refs CB-081)
  .pmat/baseline.json
  src/bug_hunter/mod.rs
Due: build:docker, test:docker-compose

refactor(bug-hunter): extract tests to separate file to fix File Health CRITICAL (Refs CB-081)
  .pmat/baseline.json
  src/bug_hunter/mod.rs
  src/bug_hunter/tests_mod.rs
Due: build:docker, test:docker-compose

refactor: extract test modules from 3 large files to reduce File Health warnings (Refs CB-081)
  .pmat/baseline.json
  src/bug_hunter/spec.rs
  src/bug_hunter/spec_tests.rs
  src/comply/rules/duplication.rs
  src/comply/rules/duplication_tests.rs
  src/oracle/local_workspace.rs
  src/oracle/local_workspace_tests.rs
Due: build:docker, test:docker-compose

test(bug-hunter): add 15 coverage tests for scan_file_for_unsafe_blocks, extract_clippy_finding (Refs CB-081)
  .pmat/baseline.json
  src/bug_hunter/tests_mod.rs
Due: build:docker, test:docker-compose

chore: bump to 0.6.3 for stack release
  .pmat/baseline.json
  Cargo.toml
Due: none

chore: clean up stale template files, update gitignore and lock (Refs CB-081)
  .gitignore
  .pmat/baseline.json
  Cargo.lock
  book/src/appendix/*.md
  book/src/part3/*.md
  book/src/part4/*.md
  book/src/part5/*.md
  book/src/part7/*.md
  book/src/part8/*.md
  book/src/part9/*.md
  docs/roadmaps/roadmap.yaml
Due: quality:book

fix: false circular dependency in stack release graph (Refs #25)
  .pmat/baseline.json
  src/stack/graph.rs
Due: build:docker, test:docker-compose

chore: bump to 0.6.4 for stack release fix (Refs #25)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

Update README with Coursera specialization link
  README.md
Due: none

feat(oracle): add Coursera reading asset generation from transcripts (Refs CB-082)
  Cargo.lock
  Cargo.toml
  src/cli/oracle/coursera.rs
  src/cli/oracle/mod.rs
  src/main.rs
  src/oracle/coursera/arxiv_db.rs
  src/oracle/coursera/banner.rs
  src/oracle/coursera/key_concepts.rs
  src/oracle/coursera/mod.rs
  src/oracle/coursera/reflection.rs
  src/oracle/coursera/transcript.rs
  src/oracle/coursera/types.rs
  src/oracle/coursera/vocabulary.rs
  src/oracle/mod.rs
  src/oracle/svg/builder.rs
Due: build:docker, test:docker-compose

fix: use UTF-8 safe string slicing in coursera modules (Refs CB-082)
  .pmat/baseline.json
  .pmat/bug-hunter-cache/9703cf02a573ed6a.json
  .pmat/bug-hunter-cache/c45433c536601571.json
  .pmat/bug-hunter-cache/d5ff5eadb03d9948.json
  .pmat/metrics/dependencies.json
  src/cli/oracle/pmat_query.rs
  src/cli/oracle/rag.rs
  src/cli/oracle/rag_index.rs
  src/oracle/coursera/key_concepts.rs
  src/oracle/coursera/vocabulary.rs
Due: build:docker, test:docker-compose

fix: eliminate all CB-506 byte indexing warnings across codebase (Refs CB-082)
  .pmat/baseline.json
  src/bug_hunter/config.rs
  src/bug_hunter/ticket.rs
  src/cli/stack.rs
  src/cli/syntax.rs
  src/comply/rules/duplication.rs
  src/experiment/research.rs
  src/oracle/rag/binary_index.rs
  src/oracle/rag/falsification_tests.rs
  src/oracle/svg/palette.rs
  src/pacha/crypto.rs
  src/stack/releaser_preflight/helpers.rs
Due: build:docker, test:docker-compose

fix: replace unwrap() with expect()/let-_ in cookbook recipe examples (Refs CB-082)
  .pmat/baseline.json
  src/oracle/cookbook/recipes.rs
Due: build:docker, test:docker-compose

fix: resolve all CB-500 Rust best practice warnings (Refs CB-082)
  .pmat/baseline.json
  Cargo.toml
  src/audit.rs
  src/falsification/cross_platform.rs
  src/falsification/hypothesis_driven/edd.rs
  src/falsification/hypothesis_driven/hdd_reproducibility.rs
  src/falsification/hypothesis_driven/hdd_scientific.rs
  src/falsification/invariants.rs
  src/falsification/jidoka.rs
  src/falsification/model_cards.rs
  src/falsification/numerical_reproducibility.rs
  src/falsification/performance_waste.rs
  src/falsification/safety.rs
  src/falsification/sovereign_data.rs
  src/falsification/technical_debt.rs
  src/falsification/types.rs
  src/lib.rs
  src/main.rs
  src/oracle/falsify/generator.rs
  src/oracle/rag/indexer.rs
  src/oracle/rag/profiling.rs
  src/oracle/rag/query_cache.rs
  src/timing.rs
  src/tui/graph_layout.rs
Due: build:docker, test:docker-compose
