Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

fix: reduce deep nesting in comment alignment for code quality scoring (Refs SQI-001)
  src/bug_hunter/patterns.rs
  src/bug_hunter/spec.rs
  src/comply/mod.rs
Due: build:docker, test:docker-compose

feat: add sovereign agent runtime (perceive-reason-act loop)
  Cargo.toml
  docs/specifications/batuta-agent.md
  src/agent/capability.rs
  src/agent/driver/mock.rs
  src/agent/driver/mod.rs
  src/agent/guard.rs
  src/agent/manifest.rs
  src/agent/memory/in_memory.rs
  src/agent/memory/mod.rs
  src/agent/mod.rs
  src/agent/phase.rs
  src/agent/result.rs
  src/agent/runtime.rs
  src/agent/tool/memory.rs
  src/agent/tool/mod.rs
  src/comply/rules/ci_workflow.rs
  src/lib.rs
  src/oracle/rag/falsification_tests.rs
  src/oracle/rag/quantization/simd.rs
Due: build:docker, test:docker-compose

feat: add agent CLI, example, and book chapter
  .pmat/baseline.json
  book/src/SUMMARY.md
  book/src/part6/cli-agent.md
  examples/agent.toml
  examples/agent_demo.rs
  src/agent/runtime.rs
  src/agent/runtime_tests.rs
  src/cli/agent.rs
  src/cli/mod.rs
  src/main.rs
Due: build:docker, test:docker-compose, quality:book

feat: add RealizarDriver, RagTool, and agent-loop-v1 contract
  .pmat/baseline.json
  contracts/agent-loop-v1.yaml
  src/agent/driver/mod.rs
  src/agent/driver/realizar.rs
  src/agent/tool/mod.rs
  src/agent/tool/rag.rs
Due: build:docker, test:docker-compose

test: improve agent coverage to 96% (MaxTokens, ping-pong, filters)
  .pmat/baseline.json
  src/agent/memory/in_memory.rs
  src/agent/runtime_tests.rs
Due: build:docker, test:docker-compose

feat: add BrowserTool and LlmDriver::stream() default method
  .pmat/baseline.json
  Cargo.toml
  src/agent/driver/mod.rs
  src/agent/tool/browser.rs
  src/agent/tool/mod.rs
Due: build:docker, test:docker-compose

docs: update agent book chapter with BrowserTool and correct API
  .pmat/baseline.json
  book/src/part6/cli-agent.md
Due: quality:book

feat: add AgentBuilder and driver retry with exponential backoff
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/result.rs
  src/agent/runtime.rs
  src/agent/runtime_tests.rs
Due: build:docker, test:docker-compose

test: add agent integration tests (6 end-to-end scenarios)
  .pmat/baseline.json
  tests/agent_integration.rs
Due: none

feat: integrate ContextManager for token-aware truncation [F-003]
  .pmat/baseline.json
  src/agent/driver/mod.rs
  src/agent/runtime.rs
  src/agent/runtime_tests.rs
  tests/agent_integration.rs
Due: build:docker, test:docker-compose

feat: add --daemon flag to `batuta agent run` for service deployments
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

docs: update agent book chapter with context management and daemon mode
  .pmat/baseline.json
  book/src/part6/cli-agent.md
Due: quality:book

feat: expand agent_demo with AgentBuilder, streams, and capabilities
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

feat: add ShellTool for sandboxed subprocess execution (Phase 2)
  .pmat/baseline.json
  src/agent/tool/mod.rs
  src/agent/tool/shell.rs
Due: build:docker, test:docker-compose

feat: add RemoteDriver for Anthropic/OpenAI HTTP API inference (Phase 2)
  .pmat/baseline.json
  src/agent/driver/mod.rs
  src/agent/driver/remote.rs
  src/agent/driver/remote_tests.rs
Due: build:docker, test:docker-compose

feat: add RoutingDriver for local-first, remote fallback inference (Phase 2)
  .pmat/baseline.json
  src/agent/driver/mod.rs
  src/agent/driver/router.rs
  src/agent/driver/router_tests.rs
Due: build:docker, test:docker-compose

docs: update agent book chapter with Phase 2 drivers and routing integration test
  .pmat/baseline.json
  book/src/part6/cli-agent.md
  tests/agent_integration.rs
Due: quality:book

feat: add ComputeTool for parallel task execution (Phase 3)
  .pmat/baseline.json
  src/agent/tool/compute.rs
  src/agent/tool/mod.rs
Due: build:docker, test:docker-compose

feat: expand agent demo with RoutingDriver and ComputeTool demos
  .pmat/baseline.json
  book/src/part6/cli-agent.md
  examples/agent_demo.rs
Due: quality:book
