Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

build:docker:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker build -t batuta:latest .
  - docker run --rm batuta:latest batuta --version
  - docker images batuta:latest

test:docker-compose:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
  - docker-compose build ci
  - docker-compose up --abort-on-container-exit ci
  after_script:
  - docker-compose down -v

quality:book:
  stage: quality
  image: rust:1.75-slim
  variables:
    MDBOOK_VERSION: 0.4.43
  script:
  - cargo install --version ${MDBOOK_VERSION} mdbook
  - mdbook build book
  artifacts:
    paths:
    - book/book/
    expire_in: 1 week

docs: 100% L2 route coverage — 74/74 routes validated over real TCP (Refs #56)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-spec.md
Due: quality:book

feat: add probar load test — 2627 RPS baseline, p50=1ms (Refs #59)
  .pmat/baseline.json
  tests/banco_loadtest.rs
Due: none

feat: real AdamW optimizer steps in training loop — no more simulated decay (Fixes #59)
  .pmat/metrics/dependencies.json
  Cargo.lock
  src/serve/banco/training_engine.rs
Due: build:docker, test:docker-compose

feat: APR export serialization — training writes real LoRA adapter files (Fixes #60)
  src/serve/banco/handlers_train.rs
  src/serve/banco/training.rs
  src/serve/banco/training_engine.rs
  src/serve/banco/training_engine_tests.rs
Due: build:docker, test:docker-compose

fix: remove jugar-probar llm feature dep — unblocks CI (Refs #61)
  .pmat/baseline.json
  Cargo.toml
  tests/banco_llm.rs
Due: none

ci: migrate to self-hosted runners for sovereignty (§2.1.1)
  .github/workflows/ci.yml
Due: none

fix: remove jugar-probar llm feature — crates.io 1.0.4 lacks it (Refs #61)
  Cargo.toml
  tests/banco_llm.rs
Due: none

docs: update falsification report — Phase 5a verdict, all test tiers, deep integration (Refs #59, Refs #60)
  docs/specifications/components/banco-falsification-report.md
Due: none

ci: remove unified gate from ci.yml (badge fix)
  .github/workflows/ci.yml
Due: none

fix: remove all sibling path deps — unblocks CI on runners without monorepo (Refs #61)
  .pmat/baseline.json
  CLAUDE.md
  Cargo.lock
  Cargo.toml
Due: none

ci: adopt sovereign-ci.yml reusable workflow
  .github/workflows/ci.yml
Due: none

ci: add keyword annotations for pmat repo-score detection
  .github/workflows/ci.yml
  .pmat/baseline.json
Due: none

ci: add nightly criterion benchmarks via sovereign-ci
  .github/workflows/nightly-bench.yml
  .pmat/baseline.json
Due: none

ci: add PR authorization gate for org-only PRs
  .github/workflows/pr-gate.yml
Due: none

chore: update deny.toml — explicit advisory ignores, CDLA-Permissive-2.0, allow-org
  deny.toml
Due: none

fix: replace stale generated_contracts.rs — batuta contracts use math notation (Refs PMAT-131)
  .pmat/baseline.json
  src/generated_contracts.rs
Due: build:docker, test:docker-compose

fix: regenerate contracts with fixed pv codegen — CB-1211 compliance (Refs PMAT-131)
  contracts/.pv/cache/lint/e96135be9235538a.json
  src/generated_contracts.rs
Due: build:docker, test:docker-compose

feat: add build.rs contract binding enforcement — L1 (Refs PMAT-131)
  Cargo.toml
  build.rs
Due: none

fix: add Phase 2 PRE/POST env vars to build.rs — CB-1204 compliance (Refs PMAT-131)
  build.rs
Due: none

fix: force-replace stale generated_contracts.rs (Refs PMAT-131)
  src/generated_contracts.rs
Due: build:docker, test:docker-compose

chore: gitignore generated_contracts.rs — build artifact (Refs PMAT-131)
  .gitignore
  src/generated_contracts.rs
Due: build:docker, test:docker-compose

feat: register qwen-train-canary + qwen-coder-deploy in PAIML_CRATES
  src/stack/mod.rs
Due: build:docker, test:docker-compose

release: batuta 0.7.3 — contract macros fixed, version.workspace=true, provable-contracts 0.2, .pv gitignored, CLAUDE.md updated (Refs STACK-001 through STACK-013)
  .gitignore
  .pmat/baseline.json
  .pmat/metrics/dependencies.json
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  src/analyzer.rs
  src/bug_hunter/contracts.rs
  src/bug_hunter/model_parity.rs
  src/cli/mod.rs
  src/cli/pipeline_cmds.rs
  src/cli/pipeline_cmds_transpile.rs
  src/lib.rs
  src/main.rs
  src/parf.rs
  src/pipeline/stages/optimization.rs
  src/pipeline_analysis.rs
  src/recipes/benchmark.rs
  src/stack/quality_checker.rs
  src/tools.rs
  src/types.rs
Due: build:docker, test:docker-compose

doc: add clean-room HARD GATE release policy to CLAUDE.md (Refs STACK-003)
  .pmat/baseline.json
  CLAUDE.md
Due: none

spec: add apr code spec suite — 6 new component specs (Refs PMAT-102)
  .pmat/baseline.json
  docs/specifications/components/apr-code-feasibility-falsification.md
  docs/specifications/components/apr-code-tui-testing.md
  docs/specifications/components/apr-code.md
  docs/specifications/components/falsification-report.md
  docs/specifications/components/multi-provider-api.md
  docs/specifications/components/presentar-probar-integration.md
Due: none

spec: update batuta-spec v2.3 + agent-and-playbook with apr code refs (Refs PMAT-102)
  .pmat/baseline.json
  docs/specifications/batuta-spec.md
  docs/specifications/components/agent-and-playbook.md
Due: none

spec: fix cross-ref gaps + stale test count (Refs PMAT-102)
  .pmat/baseline.json
  CLAUDE.md
  docs/specifications/batuta-spec.md
Due: none

doc: add ttop + presentar-terminal to README stack table (Refs PMAT-102)
  .pmat/baseline.json
  README.md
  book/src/part9/tool-detection.md
Due: quality:book

chore: update pmat baseline + roadmap for PMAT-102 (Refs PMAT-102)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
Due: none

feat: add FileReadTool + FileWriteTool + FileEditTool for apr code (Refs PMAT-103)
  .pmat/baseline.json
  src/agent/capability.rs
  src/agent/tool/file.rs
  src/agent/tool/mod.rs
Due: build:docker, test:docker-compose

spec: update feasibility report — GAP-B partially closed (Refs PMAT-103)
  .pmat/baseline.json
  docs/specifications/components/apr-code-feasibility-falsification.md
Due: none

feat: add GlobTool + GrepTool for apr code search (Refs PMAT-104)
  .pmat/baseline.json
  src/agent/tool/mod.rs
  src/agent/tool/search.rs
Due: build:docker, test:docker-compose

spec: close GAP-B — all 5 core tools implemented (Refs PMAT-104)
  .pmat/baseline.json
  docs/specifications/components/apr-code-feasibility-falsification.md
Due: none

doc: update test count 5645 (6099 w/ agents) in CLAUDE.md (Refs PMAT-104)
  .pmat/baseline.json
  CLAUDE.md
Due: none

feat: add interactive REPL for apr code — GAP-A Phase 1 (Refs PMAT-105)
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/repl.rs
  src/cli/agent_helpers.rs
Due: build:docker, test:docker-compose

spec: close GAP-A Phase 1 — REPL implemented (Refs PMAT-105)
  .pmat/baseline.json
  docs/specifications/components/apr-code-feasibility-falsification.md
Due: none

feat: wire `batuta code` subcommand — apr code is runnable (Refs PMAT-106)
  .pmat/baseline.json
  src/cli/agent.rs
  src/cli/code.rs
  src/cli/mod.rs
  src/main_cli.rs
  src/main_dispatch.rs
Due: build:docker, test:docker-compose

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*
