Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: add Ed25519 manifest signing and verification via pacha (Phase 3)
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/signing.rs
Due: build:docker, test:docker-compose

fix: resolve all clippy warnings in agent module (Toyota Way: zero debt)
  .pmat/baseline.json
  src/agent/capability.rs
  src/agent/driver/mock.rs
  src/agent/driver/remote.rs
  src/agent/driver/remote_tests.rs
  src/agent/driver/router.rs
  src/agent/guard.rs
  src/agent/memory/in_memory.rs
  src/agent/mod.rs
  src/agent/result.rs
  src/agent/runtime.rs
  src/agent/runtime_tests.rs
  src/agent/signing.rs
  src/agent/tool/browser.rs
  src/agent/tool/compute.rs
  src/agent/tool/memory.rs
  src/agent/tool/mod.rs
  src/agent/tool/rag.rs
  src/agent/tool/shell.rs
Due: build:docker, test:docker-compose

feat: add TruenoMemory substrate with BM25-ranked recall (Phase 2)
  .pmat/baseline.json
  Cargo.lock
  src/agent/memory/mod.rs
  src/agent/memory/trueno.rs
  src/agent/tool/rag.rs
Due: build:docker, test:docker-compose

feat: add Design-by-Contract verification harness (Section 13)
  .pmat/baseline.json
  src/agent/contracts.rs
  src/agent/mod.rs
Due: build:docker, test:docker-compose

fix: glob pattern now matches .rs files in target dir and subdirs
  src/bug_hunter/mod.rs
Due: build:docker, test:docker-compose

feat: add TruenoMemory and contract verification demos
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

feat: wire CLI agent run/chat to actual runtime (Refs SQI-003)
  .pmat/baseline.json
  .pmat/bug-hunter-cache/119c184dc97191d3.json
  .pmat/bug-hunter-cache/9703cf02a573ed6a.json
  .pmat/bug-hunter-cache/b4312073578f6f7e.json
  .pmat/bug-hunter-cache/c45433c536601571.json
  .pmat/bug-hunter-cache/cad26347b345dab9.json
  .pmat/bug-hunter-cache/d5ff5eadb03d9948.json
  .pmat/bug-hunter-cache/e25da52c902f7dd5.json
  .pmat/metrics/dependencies.json
  src/bug_hunter/tests_modes.rs
  src/cli/agent.rs
Due: build:docker, test:docker-compose

feat: add agent runtime book chapter + feature gates (Refs SQI-004)
  .pmat/baseline.json
  Cargo.toml
  book/src/SUMMARY.md
  book/src/part3/agent-runtime.md
  book/src/part6/cli-agent.md
Due: quality:book

feat: add agent sign, verify-sig, contracts CLI commands (Refs SQI-005)
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

fix: wire cost budget enforcement into agent loop (INV-005)
  .pmat/baseline.json
  src/agent/driver/mock.rs
  src/agent/driver/mod.rs
  src/agent/driver/remote.rs
  src/agent/runtime.rs
  tests/agent_integration.rs
Due: build:docker, test:docker-compose

refactor: decompose agent runtime + extract trueno tests (QA-002/QA-005)
  .pmat/baseline.json
  src/agent/memory/trueno.rs
  src/agent/memory/trueno_tests.rs
  src/agent/runtime.rs
Due: build:docker, test:docker-compose

feat: add FALSIFY-AL-006/007 tests, Demo 9 cost budget, update book
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  tests/agent_integration.rs
Due: quality:book

fix: add shell injection prevention to ShellTool (Poka-Yoke)
  .pmat/baseline.json
  src/agent/tool/shell.rs
Due: build:docker, test:docker-compose

feat: add agent status CLI subcommand (Refs SQI-006)
  book/src/part6/cli-agent.md
  src/cli/agent.rs
Due: build:docker, test:docker-compose, quality:book

feat: add Demo 10 (routing fallback) and Demo 11 (shell injection) (Refs SQI-007)
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

docs: update book with Phase 2-3 agent documentation (Refs SQI-008)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  book/src/part6/cli-agent.md
Due: quality:book

fix: replace .expect() with graceful error handling in daemon signal handler (Refs SQI-009)
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

feat: add full-capability agent manifest example + manifest tests (Refs SQI-010)
  .pmat/baseline.json
  examples/agent-full.toml
  examples/agent.toml
  src/agent/manifest.rs
Due: build:docker, test:docker-compose

feat: add tool output sanitization against prompt injection (Refs SQI-011)
  .pmat/baseline.json
  src/agent/runtime.rs
  src/agent/tool/mod.rs
  src/agent/tool/shell.rs
Due: build:docker, test:docker-compose

feat: add tracing instrumentation to agent runtime (Refs SQI-012)
  .pmat/baseline.json
  src/agent/runtime.rs
Due: build:docker, test:docker-compose
