Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

docs(book): Add comprehensive PAIML ecosystem comparison guide
  book/src/appendix/comparison.md
  book/src/assets/python-vs-rust-comparison.svg
Due: quality:book

fix(book): Repair broken link to stack-quality.md
  book/src/part3/stack-diagnostics.md
Due: quality:book

docs(book): Add badges and examples directory
  book/README.md
  book/examples/quick-start/README.md
Due: quality:book

docs(book): Add demo section and Rust examples
  book/README.md
  book/examples/quick-start/Cargo.toml
  book/examples/quick-start/src/main.rs
  docs/roadmaps/roadmap.yaml
  docs/specifications/book-score-spec.md
Due: quality:book

ci: Improve CI workflow with matrix testing and security audit
  .github/workflows/ci.yml
  docs/roadmaps/roadmap.yaml
  docs/specifications/score-a-plus-spec.md
Due: none

chore: Improve pmat scores - add coverage CI, contributing section, fix .unwrap() calls
  .github/workflows/ci.yml
  .pmat-metrics/commit-831aebe-meta.json
  .pmat-metrics/commit-8803cc2-meta.json
  README.md
  docs/roadmaps/roadmap.yaml
  examples/migrations/numpy-data-processing/output.rs
  examples/migrations/pytorch-inference/output.rs
  examples/migrations/sklearn-classifier/output.rs
  examples/stack_dogfood.rs
  examples/stack_graph_tui.rs
Due: none

chore: Add deploy workflow and optimize pre-commit hooks
  .github/workflows/deploy-book.yml
  .pre-commit-config.yaml
Due: none

feat: Improve demo-score to A+ with better error handling and demo GIF
  README.md
  examples/sovereign_stack_e2e.rs
Due: none

Release v0.3.0: Orchestration for PAIML ecosystem
  Cargo.toml
  Makefile
  src/analyzer.rs
  src/falsification/auditors.rs
  src/falsification/cross_platform.rs
  src/falsification/hypothesis_driven.rs
  src/falsification/invariants.rs
  src/falsification/mod.rs
  src/falsification/model_cards.rs
  src/falsification/safety.rs
  src/falsification/sovereign_data.rs
  src/falsification/technical_debt.rs
  src/oracle/rag/tui.rs
  src/pipeline.rs
  src/recipes.rs
  src/serve/context.rs
  src/stack/checker.rs
  src/stack/crates_io.rs
  src/stack/graph.rs
  src/stack/publish_status.rs
  src/stack/quality.rs
  src/stack/tui.rs
Due: build:docker, test:docker-compose

Update Cargo.lock
  Cargo.lock
Due: none

feat: Add trueno-zram to Sovereign AI Stack knowledge
  CLAUDE.md
  examples/sovereign_stack_e2e.rs
  src/analyzer.rs
  src/falsification/hypothesis_driven.rs
  src/falsification/invariants.rs
  src/falsification/mod.rs
  src/falsification/technical_debt.rs
  src/oracle/knowledge_graph.rs
  src/pipeline.rs
  src/serve/context.rs
  src/stack/crates_io.rs
  src/stack/graph.rs
  src/stack/mod.rs
  src/stack/publish_status.rs
  src/stack/quality.rs
  src/stack/tree.rs
Due: build:docker, test:docker-compose

feat: Add repartir v1.1.0 distributed computing integration
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  book/src/SUMMARY.md
  book/src/part3/repartir.md
  book/src/part7/parallel-dev.md
  examples/multi_machine_demo.rs
  examples/repartir_distributed.rs
  src/oracle/knowledge_graph.rs
  src/oracle/recommender.rs
Due: build:docker, test:docker-compose, quality:book

feat: Update stack to latest versions (trueno 0.11, aprender 0.21, realizar 0.4)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/oracle/knowledge_graph.rs
Due: build:docker, test:docker-compose

feat: Add examples and book docs for whisper-apr, trueno-zram, trueno-ublk
  book/src/SUMMARY.md
  book/src/part3/trueno-ublk.md
  book/src/part3/trueno-zram.md
  book/src/part3/trueno.md
  book/src/part3/whisper-apr.md
  examples/trueno_ublk_demo.rs
  examples/trueno_zram_demo.rs
  examples/whisper_apr_demo.rs
Due: quality:book

fix: Remove unsupported multilingual field from book.toml
  book/book.toml
Due: quality:book

chore: Update to repartir v2.0.0 and add pepita (Refs STACK-AUDIT)
  Cargo.lock
  Cargo.toml
  src/oracle/knowledge_graph.rs
  src/oracle/recommender.rs
Due: build:docker, test:docker-compose

Release v0.4.0: Pepita integration and stack updates (Refs STACK-AUDIT)
  Cargo.lock
  Cargo.toml
Due: none

Bump to 0.4.1, update pacha to 0.2
  Cargo.lock
  Cargo.toml
Due: none

Add pepita to PAIML stack, bump to 0.4.2
  Cargo.lock
  Cargo.toml
  src/stack/mod.rs
  src/stack/quality.rs
  src/stack/tree.rs
Due: build:docker, test:docker-compose

Add whisper-apr to PAIML stack, bump to 0.4.3
  Cargo.lock
  Cargo.toml
  src/stack/mod.rs
  src/stack/quality.rs
  src/stack/tree.rs
Due: build:docker, test:docker-compose
