Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: add Demo 17 (StdioMcpTransport echo server)
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

docs: update falsification tracker (F-018..F-025 status)
  .pmat/baseline.json
  docs/specifications/batuta-agent.md
Due: none

feat: add ComputeHandler to MCP server HandlerRegistry (Refs SQI-035)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  src/agent/tool/mcp_server.rs
Due: build:docker, test:docker-compose, quality:book

refactor: enforce QA-002 file size limit across agent module (Refs SQI-036)
  .pmat/baseline.json
  src/agent/runtime.rs
  src/agent/tool/mcp_client.rs
  src/agent/tool/mcp_client_tests.rs
  src/agent/tool/mcp_server.rs
  src/agent/tool/mcp_server_tests.rs
Due: build:docker, test:docker-compose

feat: add Demo 18 (ComputeHandler MCP server endpoint) (Refs SQI-037)
  .pmat/baseline.json
  examples/agent_demo.rs
Due: none

fix: resolve clippy warnings in MCP server handlers (Refs SQI-038)
  .pmat/baseline.json
  src/agent/tool/mcp_server.rs
Due: build:docker, test:docker-compose

fix: add backticks to doc comments for clippy compliance (Refs SQI-038)
  .pmat/baseline.json
  src/agent/runtime.rs
Due: build:docker, test:docker-compose

ci: add agent-quality.yml quality gate workflow (Refs SQI-039)
  .github/workflows/agent-quality.yml
  .pmat/baseline.json
Due: none

docs: update agent runtime book with QA gates and MCP transports (Refs SQI-040)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
Due: quality:book

feat: add MCP tool auto-discovery and discover_mcp_tools() (Refs SQI-041)
  .pmat/baseline.json
  examples/agent_demo.rs
  src/agent/tool/mcp_client.rs
  src/agent/tool/mcp_client_tests.rs
Due: build:docker, test:docker-compose

feat: add model_repo and model_quantization for auto-pull resolution (Refs SQI-042)
  .pmat/baseline.json
  examples/agent-full.toml
  examples/agent_demo.rs
  src/agent/manifest.rs
Due: build:docker, test:docker-compose

feat: add MessageRouter for inter-agent message passing (Refs SQI-043)
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/pool.rs
  src/agent/pool_tests.rs
Due: build:docker, test:docker-compose

feat: add model validation (G0-G1 gates) to batuta agent validate (Refs SQI-044)
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

docs: add model resolution, validation, and messaging to book (Refs SQI-045)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
Due: quality:book

feat: wire resolve_model_path() into CLI and status display (Refs SQI-046)
  .pmat/baseline.json
  src/cli/agent.rs
Due: build:docker, test:docker-compose

refactor: extract manifest tests to manifest_tests.rs for QA-002 (Refs SQI-047)
  .pmat/baseline.json
  src/agent/manifest.rs
  src/agent/manifest_tests.rs
Due: build:docker, test:docker-compose

feat: add model auto-pull via apr pull subprocess and extract CLI helpers
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  src/agent/manifest.rs
  src/agent/manifest_tests.rs
  src/agent/mod.rs
  src/cli/agent.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add G2 inference sanity gate with entropy-based garbage detection (Refs SQI-049)
  Cargo.lock
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  src/cli/agent.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add SpawnTool for sub-agent delegation with depth-bounded recursion (Refs SQI-050)
  .pmat/baseline.json
  book/src/part3/agent-runtime.md
  examples/agent_demo.rs
  src/agent/capability.rs
  src/agent/tool/mod.rs
  src/agent/tool/spawn.rs
  src/cli/agent.rs
  src/cli/agent_helpers.rs
  src/cli/agent_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: add ToolBuilder to AgentPool for child agent tool population (Refs SQI-051)
  .pmat/baseline.json
  src/agent/mod.rs
  src/agent/pool.rs
  src/agent/pool_tests.rs
Due: build:docker, test:docker-compose
