Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

feat: store OwnedQuantizedModel + vocab in model slot behind inference feature (Refs PMAT-074)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/model_slot.rs
Due: build:docker, test:docker-compose

feat: improve repo-score from 84 to 92 — add CI quality gates, fix vulnerabilities (Refs PMAT-149)
  .github/workflows/ci.yml
  Cargo.lock
  README.md
Due: none

feat: inference-aware chat handler + Phase 2a/2b spec status update (Refs PMAT-075)
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-spec.md
  src/serve/banco/handlers.rs
Due: build:docker, test:docker-compose

docs: update banco book + spec with Phase 2b status and model loading guide (Refs PMAT-075)
  book/src/part3/banco.md
Due: quality:book

fix: eliminate 11 flaky tests by adding PID to temp directory paths (Refs PMAT-076)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/bug_hunter/tests_modes.rs
  src/bug_hunter/tests_patterns.rs
  src/stack/quality_checker.rs
  src/stack/releaser_preflight/tests.rs
Due: build:docker, test:docker-compose

fix: exit non-zero when pipeline prerequisite phases not completed
  .pmat/baseline.json
  src/cli/pipeline_cmds_build.rs
  src/cli/pipeline_cmds_optimize.rs
  src/cli/pipeline_cmds_validate.rs
Due: build:docker, test:docker-compose

feat: wire realizar inference loop into banco chat handler (Refs PMAT-077)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_inference.rs
  src/serve/banco/inference.rs
  src/serve/banco/mod.rs
  src/serve/banco/p0_tests.rs
  src/serve/banco/p2_tests.rs
Due: build:docker, test:docker-compose

docs: update banco book + spec with Phase 2b inference loop status (Refs PMAT-077)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/specifications/components/banco-phase2.md
Due: quality:book

feat: wire real tokenizer into tokenize/detokenize endpoints when model loaded (Refs PMAT-078)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-phase2.md
  src/serve/banco/handlers.rs
Due: build:docker, test:docker-compose

test: add 13 Phase 2b integration tests for inference pipeline (Refs PMAT-079)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/inference_tests.rs
  src/serve/banco/mod.rs
Due: build:docker, test:docker-compose

docs: update banco test count to 148 in book roadmap (Refs PMAT-079)
  .pmat/baseline.json
  book/src/part3/banco.md
Due: quality:book

fix: unload clears quantized model and vocab to free memory (Refs PMAT-077)
  .pmat/baseline.json
  src/serve/banco/model_slot.rs
Due: build:docker, test:docker-compose

feat: real embeddings from model embedding layer when inference enabled (Refs PMAT-080)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/inference.rs
Due: build:docker, test:docker-compose

style: cargo fmt formatting pass (Refs PMAT-080)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_inference.rs
  src/serve/banco/inference.rs
  src/serve/banco/inference_tests.rs
  src/serve/banco/mod.rs
Due: build:docker, test:docker-compose

feat: add Ollama /api/generate endpoint + wire inference into Ollama handlers (Refs PMAT-081)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-spec.md
  src/serve/banco/compat_ollama.rs
  src/serve/banco/p2_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
Due: build:docker, test:docker-compose, quality:book

feat: conversation export/import endpoints (Refs PMAT-082)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/conversations.rs
  src/serve/banco/conversations_tests.rs
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_conversations.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
Due: build:docker, test:docker-compose, quality:book

feat: Phase 3 foundation — file upload/list/delete with storage module (Refs PMAT-083)
  .pmat/baseline.json
  Cargo.toml
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-phase3.md
  src/serve/banco/handlers_data.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/storage.rs
  src/serve/banco/storage_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: data recipes engine — chunk, filter, format, dedup pipeline steps (Refs PMAT-084)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers_recipes.rs
  src/serve/banco/mod.rs
  src/serve/banco/recipes.rs
  src/serve/banco/recipes_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

fix: FileStore read_content returns None for in-memory store (Refs PMAT-084)
  .pmat/baseline.json
  src/serve/banco/storage.rs
  src/serve/banco/storage_tests.rs
Due: build:docker, test:docker-compose

docs: update banco spec with sovereign stack integration map from oracle (Refs PMAT-085)
  .pmat/baseline.json
  docs/specifications/components/banco-phase3.md
  docs/specifications/components/banco-spec.md
Due: none

feat: RAG pipeline — BM25 index, search, chat integration (Refs PMAT-085)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_rag.rs
  src/serve/banco/mod.rs
  src/serve/banco/rag.rs
  src/serve/banco/rag_tests.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/types_chat.rs
Due: build:docker, test:docker-compose, quality:book

feat: eval perplexity + training run management endpoints (Refs PMAT-086)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/eval.rs
  src/serve/banco/eval_train_tests.rs
  src/serve/banco/handlers_eval.rs
  src/serve/banco/handlers_train.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/training.rs
Due: build:docker, test:docker-compose, quality:book

fix: update rustls-webpki (RUSTSEC-2026-0049) (Refs PMAT-149)
  .pmat/baseline.json
  Cargo.lock
Due: none

feat: experiment tracking — create experiments, add runs, compare metrics (Refs PMAT-087)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/experiment.rs
  src/serve/banco/experiment_tests.rs
  src/serve/banco/handlers_experiment.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

docs: update spec — Phase 3 endpoint skeleton complete, 49 endpoints, 209 tests (Refs PMAT-087)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  docs/specifications/components/banco-phase3.md
  docs/specifications/components/banco-spec.md
Due: none

feat: batch inference endpoint — process multiple prompts (Refs PMAT-088)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/batch.rs
  src/serve/banco/batch_tests.rs
  src/serve/banco/handlers_batch.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose, quality:book

docs: refresh all banco specs to match implementation reality (Refs CB-081)
  .pmat/baseline.json
  docs/specifications/components/banco-cross-cutting.md
  docs/specifications/components/banco-phase1.md
  docs/specifications/components/banco-phase2.md
  docs/specifications/components/banco-phase3.md
  docs/specifications/components/banco-spec.md
  docs/specifications/components/banco-testing.md
Due: none

feat: wire inference into batch endpoint + auto-index uploads for RAG (Refs PMAT-089)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers_batch.rs
  src/serve/banco/handlers_data.rs
  src/serve/banco/rag_tests.rs
Due: build:docker, test:docker-compose

docs: update banco book with auto-index RAG + batch inference section (Refs PMAT-089)
  .pmat/baseline.json
  book/src/part3/banco.md
Due: quality:book

feat: runtime config endpoint — GET/PUT /api/v1/config (Refs PMAT-090)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers_config.rs
  src/serve/banco/mod.rs
  src/serve/banco/p2_tests.rs
  src/serve/banco/router.rs
Due: build:docker, test:docker-compose

feat: audit log query endpoint + enrich /system with operational stats (Refs PMAT-091)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers_audit.rs
  src/serve/banco/mod.rs
  src/serve/banco/router.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
  src/serve/banco/types_tests.rs
Due: build:docker, test:docker-compose

feat: disk persistence for conversations, files, audit in production mode (Refs PMAT-092)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/audit.rs
  src/serve/banco/state.rs
  src/serve/banco/storage_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: improve no-model UX — helpful responses with model loading guide (Refs PMAT-093)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/compat_ollama.rs
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_tests.rs
  src/serve/banco/inference_tests.rs
  src/serve/banco/p2_tests.rs
  src/serve/banco/server.rs
  src/serve/banco/state.rs
  src/serve/banco/types.rs
  src/serve/banco/types_tests.rs
Due: build:docker, test:docker-compose

feat: conversation search endpoint — find by content or title (Refs PMAT-094)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/conversations.rs
  src/serve/banco/conversations_tests.rs
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_conversations.rs
  src/serve/banco/router.rs
Due: build:docker, test:docker-compose, quality:book

fix: add docs.rs badge + cookbook link per §2.2 (Refs PMAT-149)
  .pmat/baseline.json
  README.md
Due: none

feat: conversation rename + RAG search endpoint (Refs PMAT-095)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/conversations.rs
  src/serve/banco/conversations_tests.rs
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_conversations.rs
  src/serve/banco/handlers_rag.rs
  src/serve/banco/router.rs
Due: build:docker, test:docker-compose

docs: update banner + book with search/RAG endpoints (Refs PMAT-095)
  .pmat/baseline.json
  book/src/part3/banco.md
  src/serve/banco/server.rs
Due: build:docker, test:docker-compose, quality:book

feat: load conversations and files from disk on startup (Refs PMAT-096)
  .pmat/baseline.json
  book/src/part3/banco.md
  docs/roadmaps/roadmap.yaml
  src/serve/banco/conversations.rs
  src/serve/banco/storage.rs
  src/serve/banco/storage_tests.rs
Due: build:docker, test:docker-compose, quality:book

feat: save assistant responses to conversations + reload RAG on startup (Refs PMAT-097)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/conversations_tests.rs
  src/serve/banco/handlers.rs
  src/serve/banco/inference_tests.rs
  src/serve/banco/state.rs
Due: build:docker, test:docker-compose

refactor: split handlers.rs — extract token/embed/params to handlers_tokens.rs (Refs PMAT-098)
  .pmat/baseline.json
  docs/roadmaps/roadmap.yaml
  src/serve/banco/handlers.rs
  src/serve/banco/handlers_tokens.rs
  src/serve/banco/mod.rs
Due: build:docker, test:docker-compose
