Repository paiml/Batuta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:docker, test:docker-compose, quality:book

Path conditions:
  build:docker: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  test:docker-compose: any of: Dockerfile, Dockerfile.dev, docker-compose.yml, src/**/*
  quality:book: any of: book/**/*

fix(oracle): index source files for Rust stack components (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): index entire Sovereign AI Stack (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add RAG auto-update with fingerprint-based change detection (Refs PMAT-RAG)
  src/cli/oracle.rs
  src/oracle/rag/mod.rs
  src/oracle/rag/persistence.rs
Due: build:docker, test:docker-compose

fix(oracle): correct pmat indexer path to paiml-mcp-agent-toolkit (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

fix(oracle): crash-safe RAG persistence with two-phase save (Refs PMAT-RAG)
  .pmat/project.toml
  book/src/part3/oracle-mode.md
  book/src/part6/cli-oracle.md
  examples/rag_oracle_demo.rs
  src/cli/oracle.rs
  src/cli/stack.rs
  src/experiment/mod.rs
  src/main.rs
  src/oracle/rag/persistence.rs
  src/pacha/crypto.rs
  src/pipeline.rs
  src/stack/diagnostics.rs
  src/stack/mod.rs
  src/stack/quality_checker.rs
  src/stack/quality_format.rs
  src/tui/graph_analytics.rs
  tests/integration_test.rs
Due: build:docker, test:docker-compose, quality:book

chore: update pmat compliance timestamp (Refs PMAT-RAG)
  .pmat/project.toml
Due: none

feat(oracle): add trueno-ublk and apr-qa to RAG index (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add duende, pepita, manzana, copia to RAG index (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): add cookbooks and books to RAG index (Refs PMAT-RAG)
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

feat(oracle): improve RAG retrieval with stemming, TF-IDF, snippets, and component boosting (Refs PMAT-RAG)
  src/cli/oracle.rs
  src/oracle/rag/persistence.rs
  src/oracle/rag/retriever.rs
Due: build:docker, test:docker-compose

chore: fix PMAT CB-126/CB-127 Makefile compliance issues (Refs PMAT-RAG)
  .pmat/project.toml
  Makefile
Due: none

refactor(oracle): split oracle.rs into modules for PMAT file health compliance (Refs PMAT-RAG)
  .pmat/project.toml
  src/cli/mod.rs
  src/cli/oracle.rs
  src/cli/oracle_classic.rs
  src/cli/oracle_indexing.rs
Due: build:docker, test:docker-compose

chore: convert TODOs to tracked SATD format (Refs PMAT-RAG)
  src/main.rs
Due: build:docker, test:docker-compose

chore: reduce SATD violations by converting TODOs to tracked format (Refs PMAT-RAG)
  src/parf.rs
  src/pipeline.rs
Due: build:docker, test:docker-compose

docs: add Usage section to README for PMAT sections compliance (Refs PMAT-RAG)
  README.md
Due: none

style: remove needless raw string hashes (Refs PMAT-RAG)
  src/.pmat/dead-code-cache.json
  src/cli/deploy.rs
  src/content/emitter.rs
  src/oracle/cookbook.rs
  src/oracle/knowledge_graph.rs
  src/oracle/recommender.rs
  src/serve/lambda.rs
Due: build:docker, test:docker-compose

style: apply cargo fmt (Refs PMAT-RAG)
  .pmat/project.toml
  src/cli/oracle.rs
Due: build:docker, test:docker-compose

chore: update dependencies via cargo update (Refs PMAT-RAG)
  .pmat/project.toml
  Cargo.lock
Due: none

docs: fix rustdoc warnings for broken links and unclosed HTML (Refs PMAT-RAG)
  src/ansi_colors.rs
  src/serve/templates.rs
Due: build:docker, test:docker-compose

refactor: extract OracleOptions struct to fix clippy too-many-arguments
  src/cli/oracle.rs
  src/cli/oracle_classic.rs
  src/main.rs
Due: build:docker, test:docker-compose
